.font
    &--uppercase
        text-transform uppercase
    &--color
        &-primary
            color $color-primary
        &-blue
            color $color-blue
    &--700
        font-weight: 700
.font--upper
    text-transform: uppercase
.font--height-1
    line-height: 1
.font--under
    text-decoration: underline
.font--c
    text-align: center
.font--lightBlack
    color: #3a3a3c
.font--black
    color: #000
.font--darkGray
    color: #6e6e7d
.font--blue
    color: #528be6 
.font--white
    color: #fff
.cursor-point
    cursor: pointer
.font--left 
    text-align: left

.font--right 
    text-align: right

.font--center 
    text-align: center
.font--justify 
    text-align: justify
.font--top 
    vertical-align: top

.font--middle 
    vertical-align: middle

.font--bottom 
    vertical-align: bottom

.font--copyright 
    color: #b8bec7

.font--ligth 
    font-weight: 300

.font--400 
    font-weight: 400

.font--500 
    font-weight: 500

.font--bold 
    font-weight: 600

.font--700 
    font-weight: 700

.font--capitalized 
    text-transform: capitalize

.font--underlined 
    text-decoration: underline

.font--under-no 
    text-decoration: none
    &:hover
        text-decoration: none
.font--hint 
    color: #6e6e7d
    font-size: 14px
    font-weight: 100
    margin-bottom: 20px

.font--6 
    font-size: 6px

.font--8 
    font-size: 8px

.font--10 
    font-size: 10px

.font--11 
    font-size: 11px

.font--12 
    font-size: 12px

.font--12-vm 
    font-size: calc(9px + 1vmin)

.font--14 
    font-size: 14px

.font--16 
    font-size: 16px

.font--18 
    font-size: 18px

.font--20 
    font-size: 20px

.font--23 
    font-size: 23px

.font--24 
    font-size: 24px

.font--30 
    font-size: 30px

.font--36 
    font-size: 36px

.font--50 
    font-size: 50px

.font--80 
    font-size: 80px

.font--color-primary 
    color: #3a3a3c

.font--color-secondary 
    color: #6e6e7d

.font--color-inactive 
    color: #b8bec7

.font--color-blue,.font--color-blue-icon:before 
    color: #528be6

.font--color-light-gray 
    color: #9f9e9e

.font--color-green 
    color: #30bb49

.font--color-white 
    color: #fff

.font--color-success 
    color: #6cd44c

.font--color-failed 
    color: #c21f3f

.font--color-valid-faild 
    color: #ca1145

.font--color-important 
    color: #c2143d

.font--highlight-grey 
    background-color: #edf0f5

.font--hint-grey 
    color: #a7a7af

.font--color-light-grey 
    color: #b8bec7

.font--break-all 
    word-break: break-all

.font--failed_confirmation 
    font-size: 80px
    color: #c21f3f
.font--roboto 
    font-family: 'Roboto'
.font--italic
    font-style: italic
.font
    &--md
        @media only screen and (min-width: 768px)
            &-left 
                text-align: left
        
            &-right 
                text-align: right
        
            &-18
                font-size: 18px
        
            &-30
                font-size: 30px
    &--lg
        @media only screen and (min-width: 992px) 
            &-12 
                font-size: 12px

            &-14 
                font-size: 14px

            &-16
                font-size: 16px

            &-18
                font-size: 18px
    &--xl
        @media only screen and (min-width: 1200px) 
            &-left 
                text-align: left
            &-center 
                text-align: center
            &-12 
                font-size: 12px
            &-14 
                font-size: 14px
            &-16 
                font-size: 16px