.block-functional__caption,
.block-why-we-desc__caption,
.block-security__caption,
.block-advantages__caption,
.block-advantages__caption-before,
.block-partners__caption,
.block-hiring__caption
    font-size 3.6rem
    text-transform uppercase
    color $color-blue
    position relative
    &:before
        content ''
        position absolute
        top -1%
        left 3px
        width 40px
        height 4px
        background-color $color-primary
    &-text
        display block
@media only screen and (min-width : 768px)
    .block-functional__caption,
    .block-why-we-desc__caption,
    .block-security__caption,
    .block-advantages__caption,
    .block-partners__caption,
    .block-hiring__caption
        font-size 6rem
        &:before
            top -1%
            left 3px
            width 80px
@media only screen and (min-width : 962px)
    .block-functional__caption,
    .block-why-we-desc__caption,
    .block-security__caption,
    .block-advantages__caption,
    .block-partners__caption,
    .block-hiring__caption
        font-size 6rem
        &:before
            top 25%
            left -115px
            width 80px
@media only screen and (min-width : 1200px)
    .block-functional__caption,
    .block-why-we-desc__caption,
    .block-security__caption,
    .block-advantages__caption,
    .block-partners__caption,
    .block-hiring__caption
        font-size 6rem
        &:before
            top 25%
            left -115px
            width 80px
            background-color $color-blue