nav.nav#nav-header
    ul.navigation-header
        li.navigation-header__item
            a.navigation-header__link(href="#who-we" data-translation="whoAreWe") Кто мы
        li.navigation-header__item
            a.navigation-header__link(href="#why-we" data-translation="whyAreWe") Почему мы
        li.navigation-header__item
            a.navigation-header__link(href="#hiring" data-translation="expenses" ) ЗАТРАТЫ
        li.navigation-header__item
            a.navigation-header__link(href="#function" data-translation="advantages" ) ПРЕИМУЩЕСТВА
        li.navigation-header__item
            a.navigation-header__link(href="#partners" data-translation="partners" ) Партнеры
        li.navigation-header__item
            a.navigation-header__link(href="#security" data-translation="dataSecurity") Безопасность данных
        li.navigation-header__item
            a.navigation-header__link(href="#advantages") В РЕЗУЛЬТАТЕ