div.container
    div(class="row fl--justify-c fl--dir-col font--c")
        p(class="font--18 padding--yc-10 margin--b-5") Didn't find the answer?
        p(class="font--14 padding--yc-10 margin--b-5") Email us on 
            a(class="font--color-blue" href="mailto:contact@anworks.ua") contact@anworks.ua
        p(class="font--14 padding--yc-10 font--500") Your friends at AnWorks