main(class="overflow--hiden fl--1")
    div.container.overflow--h
        div.row.fl--justify-c
            div.row.fl--dir-col.col-12.col-lg-11.padding--xc-5-p.padding--yc-20.padding--md-30#wrap-vertical-tabs
                p(class="font--20 font--500 w--100 margin--b-30 font--uppercase font--center") Центр поддержки
                    include ./faqSection/profileInfo.pug
                    include ./faqSection/applicantInfo.pug
                    include ./faqSection/companyInfo.pug
    include ../module/anchorBtn.pug
    include ./infoSupport.pug