ul.nav-social#nav-social-right
    li(class="nav-social__item")
        a(href="https://www.linkedin.com/company/anworks/about/" target="_blanck" class="nav-social__link icon-linkedin-landing")
    li(class="nav-social__item")
        a(href="https://www.facebook.com/an.works.ukraine/" target="_blanck" class="nav-social__link icon-facebook_landing")
    li(class="nav-social__item")
        a(href="https://t.me/anworks" target="_blanck" class="nav-social__link icon-Telegram_landing")
    //- li(class="nav-social__item")
    //-     a(href="https://vk.com/an.works" target="_blanck" class="nav-social__link icon-VK")
    li(class="nav-social__item")
        a(href="https://www.instagram.com/an.works.ukraine/" target="_blanck" class="nav-social__link icon-instagram")
    //- li(class="nav-social__item")
    //-     a(href="#" class="nav-social__link icon-youtube" target="_blanck" )
