section(class="main")
    div(class="container flex-nowrap main_inner" id="index_menu")
        div(class="left_col")
            div(id="carousel_menu_left")
                div(class="carousel_list_overflow_container")
                    div(class="carousel_list_container")
                        ul(class="index_menu carousel_list_item_container")
                            li(class="carousel_list_item" data-icon="webDesign")
                                a(href="design" class="flex")
                                    span(class="scale_elem") Web-design
                            li(class="carousel_list_item" data-icon="htmlCss")
                                a(href="frontend" class="flex")
                                    span(class="scale_elem") Верстка (HTML+CSS)
                            li(class="carousel_list_item" data-icon="htmlCss")
                                a(href="frontend_advanced" class="flex")
                                    span(class="scale_elem") Frontend Advanced
                            li(class="carousel_list_item" data-icon="javascript")
                                a(href="js" class="flex")
                                    span(class="scale_elem") JavaScript
                            li(class="carousel_list_item" data-icon="php")
                                a(href="php-course" class="flex")
                                    span(class="scale_elem") PHP programming
                            li(class="carousel_list_item" data-icon="qa")
                                a(href="quality-assurance" class="flex")
                                    span(class="scale_elem") Тестирование(QA)
                            li(class="carousel_list_item" data-icon="quAutomation")
                                a(href="qa-automation" class="flex")
                                    span(class="scale_elem") Automation QA
                            li(class="carousel_list_item" data-icon="english")
                                a(href="english-for-it" class="flex")
                                    span(class="scale_elem") English for IT
        div(class="right_col")
            div(id="carousel_menu_right")
                div(class="carousel_list_overflow_container")
                    div(class="carousel_list_container")
                        ul(class="index_menu carousel_list_item_container")
                            li(class="carousel_list_item" data-icon="itProjectManagement")
                                a(href="pm" class="flex")
                                    span(class="scale_elem") Project Management
                            li(class="carousel_list_item" data-icon="java")
                                a(href="HR" class="flex")
                                    span(class="scale_elem") HR&Recruitment
                            li(class="carousel_list_item" data-icon="java")
                                a(href="java" class="flex")
                                    span(class="scale_elem") Java programming
                            li(class="carousel_list_item" data-icon="android")
                                a(href="android" class="flex")
                                    span(class="scale_elem") Android development
                            li(class="carousel_list_item" data-icon="smm")
                                a(href="smm" class="flex")
                                    span(class="scale_elem") Social Media Marketing (SMM)
                            li(class="carousel_list_item" data-icon="seo")
                                a(href="SEO" class="flex")
                                    span(class="scale_elem") SEO оптимизация
                            li(class="carousel_list_item" data-icon="advertising")
                                a(href="contextual_advertising" class="flex")
                                    span(class="scale_elem") Контекстная реклама
                            li(class="carousel_list_item" data-icon="copyright")
                                a(href="copyright" class="flex")
                                    span(class="scale_elem") Копирайтинг