div(class="pop-up pop-up-send-mes" id="pop-up-soon")
    p(class="font--c padding--yc-20 box--shadow-small font--lightBlack border--b-1-light-gray font--upper font--14") Старт платформы уже скоро
    div(class=" wrap-form-cont padding--t-30")
        p(class="font--c margin--b-20 margin--xl-b-30 font--14 font--darkGray padding--xc-5-p font--c") Пройдите предварительную регистрацию
    div(class="fl fl--justify-c margin--b-30")
        button(class="btn btn--theme-reg-pop " id="reg-soon") Зарегистрироваться
        button(class="btn btn--theme-contact-pop " id="cont-soon") Связаться с нами
    p(class="padding--yc-20 font--c border--t-1-gray margin--t-auto")
        span(class="font--darkGray font--16 font--under cursor-point user-select close-popUp" id="close-popup-soon") Закрыть