div(class="pop-up pop-up-send-mes" id="pop-up-no-send-mes")
    p(class="font--c padding--yc-20 box--shadow-small font--lightBlack border--b-1-light-gray font--upper font--14") Ой! Кажется, что-то пошло не так
    div(class=" wrap-form-cont padding--t-30")
        img(src=src=publicPathCSS+"public/img/mail_no_send.svg" class="email-send display--b margin--b-20 d-b margin--xc-auto" alt="")
        p(class="font--c margin--b-20 margin--xl-b-30 font--14 font--darkGray padding--xc-5-p font--c") Попробуйте, пожалуйста, еще раз
    p(class="padding--yc-20 font--c border--t-1-gray margin--t-auto")
        span(class="font--darkGray font--under cursor-point user-select close-popUp font--16" id="close-no-send-mes") Закрыть 
