div(class="pop-up pop-up--contact" id="pop-up-contact")
    p(class="font--c padding--yc-20 box--shadow-small font--lightBlack font--16 border--b-1-gray user-select") Связаться с нами
    div(class="overf-y-scroll wrap-form-cont padding--t-30")
        p(class="font--c margin--b-20 margin--xl-b-30 font--14 font--darkGray padding--xc-5-p font--c")
            span(class="d-b d--xl-line d--md-land-line") Пожалуйста, заполните форму ниже
            |или свяжитесь с нами по указанным ниже контактам
            form(action="php/send.php" class="pop-up-form pop-up-form--cont margin--b-20 margin--md-b-30" name="Форма обратной связи" id="form-contact")
                div(class="fl fl--wrap fl--dir-col width--100 height--100")
                    input(type="text" class="input margin--b-10 input--contact fl--xl-order-1 fl--xl-land-order-1 margin--xl-r-20" name="name" placeholder="Как к Вам обращаться*")
                    div(class="combobox combobox-active margin--b-10 combobox--contact fl--xl-order-2 fl--xl-land-order-2" id="comboboxContact")
                        input(type="text" class="commbobox__input" name="person" readonly="" placeholder="Выберите кто Вы*")
                        ul(class="cust-li")
                    input(class="input margin--b-10 input--contact fl--xl-order-4 fl--xl-land-order-4" type="email" name="E-mail" placeholder="E-mail*")
                    textarea(name="message" class="textarea margin--b-10 fl--xl-order-5 fl--xl-land-order-5 input--contact" placeholder="Сообщение")
                input(type="submit" value="Отправить" id="submit-contact" class="btn btn--theme-blue submit-popup input--contact")
            div(class="fl fl--wrap fl--justify-b padding--md-xc-45 padding--xc-5-p padding--xl-yc-20 padding--md-yc-30 padding--yc-20 border--t-1-gray") 
                ul(class="list-address margin--b-20")
                    li(class="list-address__item list-address-caption") адрес:
                    li(class="list-address__item") 61000,
                    li(class="list-address__item") г. Харьков, 
                    li(class="list-address__item") ул. Сумская, 2, офис 4
                ul(class="list-address")
                    li(class="list-address__item list-address-caption") Телефоны:
                    li(class="list-address__item") +380 
                        span(class="font--lightBlack") (73) 
                        | 911 81 81
                    li(class="list-address__item") +380 
                        span(class="font--lightBlack") (66) 
                        | 911 81 81
                    li(class="list-address__item") +380 
                        span(class="font--lightBlack") (97) 
                        | 911 81 81
    p(class="padding--yc-20 font--c border--t-1-gray margin--t-auto font--16")
        span(class="font--darkGray font--under cursor-point user-select close-popUp" id="close-pop-up") Закрыть