div(class="pop-up pop-up-adv" id="advertising")
    p(class="font--c padding--yc-20 box--shadow-small font--lightBlack border--b-1-light-gray margin--b-30") Помоги проекту!
    p(class="font--c margin--b-20 font--14 font--darkGray padding--xc-5-p") Расскажите, откуда вы узнали о нашем проекте?
    form(action="php/send.php" method="POST" class="pop-up-form margin--b-20" name="откуда вы узнали о нашем проекте?")
        div(class="wrap-radio")
            input(type="radio" name="rb" data-name="IT Школа" id="rd1")
            label(class="radio-lable" for="rd1") IT Школа
            div(class="combobox commbobox-val margin--t-10 " id="combo")
                input(type="text" class="commbobox__input combobox__input-avance" name="city-school" id="city-school" placeholder="Город*")
                ul(class="cust-li")
            div(class="combobox margin--t-10" id="combo2")
                input(type="text" class="commbobox__input combobox__input-avance" name="list-school" id="list-school" placeholder="Название Школы")
                ul(class="cust-li")
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd2" data-name="Google")
            label(class="radio-lable" for="rd2") Google
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd3" data-name="Баннер на сайте")
            label(class="radio-lable" for="rd3") Баннер на сайте 
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd4" data-name="Instagram")
            label(class="radio-lable" for="rd4") Instagram
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd5" data-name="Facebook")
            label(class="radio-lable" for="rd5") Facebook
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd6" data-name="Linkedin")
            label(class="radio-lable" for="rd6") Linkedin
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd7" data-name="Конференция, выставка")
            label(class="radio-lable" for="rd7") Конференция, выставка
        div(class="wrap-radio")
            input(type="radio" name="rb" id="rd8" data-name="Друзья, знакомые ")
            label(class="radio-lable" for="rd8") Друзья, знакомые 
        div(class="wrap-radio wrap-radio--margin")
            input(type="radio" name="rb" id="rd9" data-name="Ваш вариант")
            label(class="radio-lable" for="rd9") Ваш вариант
            input(type="text" class="input input-your-option" name="Ваш вариант")
        input(type="submit" value="Отправить" class="btn btn--theme-blue submit-popup")
    p(class="padding--yc-20 font--c border--t-1-gray margin--t-auto")
        span(class="font--darkGray font--under cursor-point font--16 user-select close-popUp" id="close-popup-soon") Закрыть