div.blackout#blackout
    include advertising.pug
    include companyRegister.pug
    include applicantRegister.pug
    include schoolRegister.pug
    include expertRegistration.pug
    include selectRegister.pug
    include messFormErroe.pug
    include messFormSuccess.pug
    include popUp/pop-up-contact-us.pug
    include popUp/pop-up-start-soon.pug
    include popUp/pop-up-messSuccess.pug
    include popUp/pop-up-messError.pug