div(class="register margin--xl-l-15" id="form-mess")
    div(class="wrap-form")
        div(class="fl fl--justify-b fl--align-c margin--b-30 margin--xl-b-35 fl--align-c")
            h3(class="font--height-1 font--500 font--18 font--lightBlack") E-mail в пути!
            span(class="close-form")
        img(src=publicPathCSS+"public/img/mail_send.svg" class="email-send  margin--b-20" alt="")
        p(class="font--14 font--darkGray margin--b-30") Спасибо, ваша заявка принята
        p(class="font--14 font--darkGray margin--b-30") Мы свяжемся с вами в ближайшее время