div(class="register margin--xl-l-15" id="form-mess-no")
    div(class="wrap-form")
        div(class="fl fl--justify-b fl--align-c margin--b-30 margin--xl-b-35 fl--align-c")
            h3(class="font--height-1 font--500 font--18 font--lightBlack") Ой! Кажется, что-то пошло не так
            span(class="close-form")
        img(src=publicPathCSS+"public/img/mail_no_send.svg" class="email-send  margin--b-20" alt="email")
        p(class="font--14 font--darkGray margin--b-30") Попробуйте, пожалуйста, еще раз