div(class="register register-form margin--xl-l-15 " id="form-it-school")
    div(class="wrap-form")
        div(class="fl fl--justify-b fl--align-c margin--b-30 margin--xl-b-35 fl--align-c")
            h3(class="font--height-1 font--500 font--18 font--lightBlack") Заявка на регистрацию
            span(class="close-form")
        form(action="php/send.php" method="POST" class="register__form" id="regist-school" name="заявка на регистрацию Школы")
            div(class="combobox combobox-city margin--b-10")
                input(type="text" class="commbobox__input" name="city" placeholder="Ваш город")
                ul(class="cust-li")
            input(class="input margin--b-10 margin--md-b-10" type="text" name="School" required="" placeholder="Название школы*")
            input(class="input margin--b-10 margin--xl-b-20" type="text" name="Site" placeholder="Сайт")
            input(class="input margin--b-10 margin--xl-b-10" type="text" name="name-representative" required="" placeholder="Имя представителя*")
            input(class="input margin--b-10 margin--md-b-20" type="text" name="surname-representative" required="" placeholder="Фамилия представителя*")
            input(class="input margin--b-10" type="email" name="email" required="" placeholder="E-mail*")
            input(class="input margin--b-10 margin--md-b-30" type="tel" name="phone-number" required="" placeholder="+380 ( _ _ ) _ _ _  _ _  _ _*")
            label(class="fl fl--align-c margin--b-20 d-b-l")
                input(class="checkbox " type="checkbox" name="Agree-with-terms-and-conditions=true")
                span(class="checkbox-custom margin--r-10")
                span(class="label margin--r-5 font--14 font--14") Я принимаю
                a(class="font--blue font--under font--14 font--14 agreement" href="/terms-of-use.html#privacy-policy" target="_blanck") соглашение
            div(class="fl fl--align-c fl--justify-b")
                input(type="submit" class="btn btn--theme-card font--14 margin--xl-r-60" id="submit-school" value="Ок")
                span(class="font--14 font--darkGray bnt-back-form") Назад
