div(class="register margin--xl-l-15" id="select-reg")
    div(class="wrap-form")
        div(class="fl fl--justify-b fl--align-c margin--b-30 margin--xl-b-35 fl--align-c")
            h3(class="font--height-1 font--500 font--18 font--lightBlack") Регистрация
            span(class="close-form")
        p(class="font--14 font--darkGray margin--b-20") Пожалуйста, выберите кто Вы
        a(class="who_are_you font--14 who_are_you--link" target="_blanck" href="https://signup.an.works") Я ищу работу
        a(class="who_are_you font--14 who_are_you--link" target="_blanck" href="https://signup.an.works/company") Работодатель
        button(class="who_are_you font--14" id="i_am_expert") Я Эксперт
        button(class="who_are_you font--14" id="i_am_it-school") IT Школа
        div(class="line-reg")
        span(class=" font--14 font--darkGray") Уже есть аккаунт? Отлично!
            br
            a(href="https://private.an.works/login" target="_blanck" class="font--blue font--under" id="menu_enty") Войти