div.fl.fl--align-c
    a.btn.btn--theme.btn--login.padding--10.margin--r-15.show--md#btn-logIn(href="https://private.an.works/login" target="_blanck" data-translation="logIn") Вход
    button.btn.btn--theme.btn--reg-header.margin--r-45.show--md#regist-main(data-translation="registration" ) Регистрация
    span.humb.humb--active.humb-anim#humburger
        span.humb__item
        span.humb__item
        span.humb__item