header(class="header--faq border--b-1-gray")
        div(class="fl fl--justify-c col-12 padding--0 padding--yc-5 padding--xc-15")
            a(href="/" class="logo logo--no-padding")
                img(src=publicPathCSS+"public/img/logo.svg" class="logo__img" alt="an.works")