.block-partners
    width: 100%
    height 100%
    padding: 18% 5% 10%
    display flex
    flex-direction: column
    position relative
    @media only screen and (min-width : 768px)
        padding-top: 8%
        padding-bottom: 0
    @media only screen and (min-width : 962px)
        padding-top: 5%
        &:before
            content: ''
            position absolute
            right 0
            top: 0
            width: 10%
            height 100%
            background-color #fff
            box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2)
    @media only screen and (min-width : 1200px)
        padding-top: 4%
    &__wrap-caption
        margin-bottom: 5%
        position relative
        z-index 6
        @media only screen and (min-width : 768px)
            align-items: center
            display flex
            justify-content: space-between
        @media only screen and (min-width : 962px)
            margin-left: 22%
            padding-right: 6%
    &__caption
        margin-bottom: 15px
        @media only screen and (min-width : 768px)
            margin-bottom: 0
        &-text
            color: #000000
    &__nav
        @media only screen and (min-width : 768px)
            &--active
                color $color-blue !important
                &::before
                    content ""
                    width 100%
                    height 2px
                    background-color #3a3a3c
                    position absolute
                    bottom -7px
        span
            margin-right: 10px
            font-size: 1.4rem
            cursor pointer
            font-weight: 500
            color: $color-primary
            position relative
            transition color 0.3s
            @media only screen and (min-width : 768px)
                align-self: center
                font-size: 2rem
            @media only screen and (min-width : 992px)
                &:hover
                    color $color-blue !important
                    &::before
                        content ""
                        width 100%
                        height 2px
                        background-color #3a3a3c
                        position absolute
                        bottom -7px

        
                