.wrapper-partners
    width 100%
    position relative
    background-color #f3f3f3
    @media only screen and (min-width : 768px)
        padding-top: 40px
        height: calc(100% - 75px)
        background-image: url(../../public/img/logo_large-w-2.svg)
        background-repeat: no-repeat
        background-size: 90%
        background-position-x: 50%
        background-position-y: 50%
.wrap-caption
    height 52px
    display flex
    align-items center
    justify-content center
    box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
    background-color #f3f3f3
    width 100%
    @media only screen and (min-width : 768px)
        width: auto
.caption-menu
    font-size 18px
    font-weight 700
    text-transform uppercase
    letter-spacing 0.9px
    color #3a3a3c
    line-height 1
    text-align center
.caption-lines__firs-item,
.caption-lines__last-item
    position relative
    &before
        content ""
        position absolute
        width 20px
        height 2px
        top calc(50% - 1px)

.caption-lines__firs-item
    &before
        background-color #3a3a3c
        left -30px

.caption-lines__last-item
    &before
        background-color #528be6
        right -30px


@keyframes bouncPartners
    0%
        transform: translateY(0)

    100%
        transform: translateY(-10px)

//парнеры стилизация
.wrap-partners
    flex 1
    overflow-y scroll
    -webkit-overflow-scrolling touch
    img
        max-width: 100%
    @media only screen and (min-width : 768px)
        height: 95%
        width: 100%
        position: absolute
        bottom 0px
        left: 0px
        z-index: 5
        overflow: hidden
    @media only screen and (min-width : 962px)
        height: 85%
.partners
    padding-top 10px
    overflow-y auto
.partners__item
    background-color #fff
    user-select none
    width 100%
    margin-left auto
    margin-right auto
    max-height 50px
    overflow hidden
    box-shadow 0 3px 10px rgba(0, 0, 0, 0.1)
    margin-bottom 10px
    transition max-height 0.5s ease,width .3s linear .5s
    @media only screen and (min-width : 768px)
        overflow: visible
        .partners__content     
            display: none
            background-color: #fff
            position: absolute
            width: auto
            max-width: 450px
            left: -50%
            padding: 0
.open-cart-partners
    max-height 400px
    transition max-height 0.5s ease .3s,width .3s linear 
    width calc(100% - 40px)
.partners__content
    padding 0 20px 20px 20px
    text-align center
.link-partners
    color#528be6
    text-decoration underline
    font-size 1.4rem
.wrap-img
    display flex
    justify-content center
    align-items center
    height 50px
.img-partners
    display block
    margin 0 auto
.adoria-img
    height 50px
    padding-top 10px
    padding-bottom 10px
.boosteroid-img
    height 13px
.burningroof-img-text
    width 50px
    margin-bottom 10px
.uit-img
    height 24px
.source-img,
.beetroot-img,
.seven-pro-img,
.telesens-company-img,.artjoker-img,
.a-level-img,
.ideasoft-img,
.callpage-img,
.burningroof-img,
.lemon-img,
.brain-img,
.brain-non-img,
.rademade-img,
.epam-training-img
    height: 30px
.beetroot-comp-img,
.hillel-img,
.answer-img,
.vertex-academy-img,
.logos-it-img,
.family-english-img,
.languagelab-img,
.jon-img,
.epam-img
    height: 35px
.promin-img,
.skalar-img,
.starindustry-img,
.telesens-img,
.doctrina-img,
.main-academy-img,
.pause-school-img,
.foxminded-img,
.languageclub-img,
.family-english-scholl,
.foxminded-comp-img,
.cloud-it-img,
.fly-img,
.claster-img,
.linguaroad-img,
.sochnik-img
    height: 40px
.dialon-img
    height: 55px

.burningroof-img-long,
.adoria-img-long,
.telesens-img-long,
.hillel-img-long,
.brain-img-long ,
.brain-non-img-long,
.epam-training-img-long
    display: none
    visibility: hidden
.open-partners
    display: block !important
    z-index: 503 !important
.blackout-partners
    top: 0
    width: 100%
    height: 100%
    position: fixed
    left: 100%
    opacity: 0
    transition: opacity 1s ease 0.2s 
    background-color: rgba(0,0,0,.5)
    z-index: 4
.blackout-active
    left: 0 !important
    opacity: 1 !important
.modal-parners
    background-color: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: fixed
    opacity: 0
    top: 100%
    left: 0
    z-index:1000
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    will-change: opacity
    transition: opacity 0.5s ease
    .wrap-img
        opacity: 0
    &--open
        top:0
        opacity: 1
        .modal-parners__img-wrap
            opacity: 1
            transition: opacity 0.5s ease 0.5s
            .wrap-img
                opacity: 1
                transition: opacity 0.4s ease 0.9s
        
    
        .modal-parners__desc-field
            opacity: 1
            transform: translateY(0px)
            transition: opacity 0.5s ease 1.3s,transform  0.5s ease 1.3s
    &__wrap-field
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        align-items: center

    &__img-wrap
        width: 19rem
        height: 19rem
        min-width: 16rem
        min-height: 16rem
        max-width: 19rem
        max-height: 19rem
        opacity: 0
        display: flex
        background-color: #fff
        border: 2px solid #3a3a3c
        box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15)
        margin-bottom:calc(-30px - 5vmin)
        position: relative
        z-index: 2
        padding: 10px

    &__desc-field
        width: 32vmin
        min-width: 40rem
        padding: calc(30px + 7vmin) 35px 35px 35px
        background-color: #fff
        border-radius: 5px
        position: relative
        z-index: 1
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1)
        opacity: 0
        transform: translateY(-20px)
        will-change: transform, opacity
.modal-parners
    &__desc
        &-text,&-city
            text-align: center
            font-size: 1.4rem
            line-height: 1.8rem
            color #6e6e7d
        &-text
            margin-bottom: 20px
        &-city
            margin-top: 10px

.tablet.landscape
    @media only screen and (min-width : 768px) and (max-width : 1023px)
            .wrapper-partners
                padding-top: 46px
                background-image: url(../../public/img/logo_large-w-2.svg)
                background-repeat: no-repeat
                background-size: 75.36%
                background-position-x: 50%
                background-position-y: 50%
        
            .wrap-partners
                height: 100%
        
            .wrap-caption
                top:66px
                position: absolute
                left: 115px
                background-color: transparent
                box-shadow: none
        
            .caption-menu
                text-align: left
        
            .caption-lines__firs-item
                display: block
        

            .caption-lines__last-item 
                padding-left: 27px
        

            .partners__item
                position: absolute
                margin: 0
                z-index: 3
                display: flex
                max-height: 1000px
        
            .boosteroid
                z-index: 5
                left: 14.35%
                top: 31.87%
                border: 2px solid #528be6
                height: 121px
                box-shadow: 10px 17px 40px rgba(0, 0, 0, 0.2)
                width: 121px  
        
            .wrap-img
                margin: auto
            .wrap-img > img
                height 100%
                width: 100%
                max-width: 100%
                max-height: 100%
            .boosteroid-img
                height: 9px
        
            .adoria
                box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2)
                height: 121px
                width: 121px
                border: 2px solid #528be6
                bottom: 24%
                right: 24.43%
        
            .adoria-img
                display:none
                visibility: hidden
        
            .adoria-img-long
                height: 57px
                display: block
                visibility: visible
        
            .ideasoft
                box-shadow: 8px 13px 40px rgba(0, 0, 0, 0.2)
                border: 2px solid #3a3a3c
                height: 120px
                width: 120px
                bottom:4.62%
                left: 37.53%
                z-index: 4
        
            .ideasoft-img
                height: 18px
        
            .callpage
                box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.2)
                border: 1px solid #3a3a3c
                right: 41.27%
                bottom: 28%
                width: 101px
                height: 101px
        
            .callpage-img
                height: 24px
        
            .burningroof
                width: 101px
                height: 101px
                top:29%
                left: 36.17%
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
                border: 1px solid #528be6
        
            .burningroof-img-text,.burningroof-img
                display: none
                visibility: hidden
        
            .burningroof-img-long
                height: 62px
                visibility: visible
                display: block
        
            .uit
                width: 100px
                height: 100px
                bottom: 9.24%
                right: 14.66%
                box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.3)
                border: 1px solid #3a3a3c
        
            .uit-img
                height: 29px
        
            .a-level
                width: 71px
                height: 71px
                top:19.4%
                right: 41.37%
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
                border: 1px solid #b8bec7
        
            .a-level-img
                height: 20px
        
            .fly
                width: 71px
                height: 71px
                left: 17%
                bottom: 7%
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
                border: 1px solid #528be6
        
            .fly-img
                height: 45px
        
            .source
                width: 80px
                height: 80px
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
                border: 1px solid #528be6
                bottom: 7%
                right: 34.82%
                z-index: 2
        
            .source-img
                height: 18px
        
            .seven-pro
                width: 95px
                height: 95px
                box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.3)
                border: 1px solid #3a3a3c
                left: 26.2%
                bottom: 16%
        
            .seven-pro-img
                height: 18px
        
            .beetroot
                width: 71px
                height: 71px
                box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
                border: 1px solid #3a3a3c
                background-color: #ffffff
                right: 33.9%
                top:30.72%
                &-img
                    height: 24px
            
        
            .logos-it
                width: 71px
                height: 71px
                box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
                border: 1px solid #3a3a3c
                background-color: #ffffff
                right: 33.9%
                top:30.72%
        
            .dialon
                width: 171px
                height: 71px
                box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
                border: 1px solid #3a3a3c
                background-color: #ffffff
                right: 33.9%
                top:30.72%
        
            .vertex-academy
                width: 71px
                height: 71px
                box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
                border: 1px solid #3a3a3c
                background-color: #ffffff
                right: 33.9%
                top:30.72%
        
            .jon
                width: 71px
                height: 71px
                box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
                border: 1px solid #3a3a3c
                background-color: #ffffff
                right: 33.9%
                top:30.72%

@media only screen and (min-width : 768px)
    .partners__item
        transition: none

    .caption-lines__firs-item--about
        display: inline !important

    .caption-menu .caption-lines__last-item--about 
        padding-left: 0 !important

    .tablet
        .caption-menu
            text-align: left
            font-size: 30px

        
        .caption-lines__last-item 
            padding-left: 43px


    .caption-lines__firs-item
        display: block

    .caption-lines__firs-item,
    .caption-lines__last-item
        &:before
            width: 40px
            height: 4px
            top: calc(50% - 2px)


    .caption-lines__firs-item
        &:before
            left: -50px


    .caption-lines__last-item
        &:before
            right: -50px
            height: 2px
            top: calc(50% - 1px)

    // random(200, 700)

    .boosteroid,
    .telesens-company,
    .skalar,
    .artjoker,
    .beetroot-comp,
    .burningroof,
    .epam,
    .a-level,
    .beetroot,
    .seven-pro,
    .callpage,
    .adoria,
    .fly,
    .ideasoft,
    .foxminded-comp,
    .source,
    .uit,
    .telesens,
    .rademade,
    .promin,
    .starindustry,
    .doctrina,
    .epam,
    .lemon,
    .main-academy,
    .pause-school,
    .foxminded,
    .cloud-it,
    .hillel,
    .brain,
    .brain-non,
    .claster,
    .answer,
    .sochnik,
    .logos-it,
    .dialon,
    .vertex-academy,
    .jon,
    .epam-training,
    .languageclub,
    .family-english,
    .languagelab,
    .linguaroad
        animation-name: opacity
        animation-direction: alternate
        animation-fill-mode: backwards
        animation-timing-function: linear

    .boosteroid
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .telesens-company
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .skalar
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .artjoker
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .beetroot-comp
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .burningroof
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .epam
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .a-level
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .beetroot
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .seven-pro
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .callpage
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .adoria
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .fly
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .ideasoft
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .foxminded-comp
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .source
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .uit
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .telesens
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .rademade
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .promin
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .starindustry
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .doctrina
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .epam
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .lemon
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .main-academy
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .pause-school
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .foxminded
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .cloud-it
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .hillel
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .brain
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .brain-non
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .claster
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .answer
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .sochnik
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .logos-it
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .dialon
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .vertex-academy
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .jon
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .epam-training
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .languageclub
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .family-english
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .languagelab
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms
    .linguaroad
        animation-duration random(200, 700)ms
        animation-delay random(200, 700)ms

    .partners
        padding-top:0px
        width: 100%
        height: 100%

    .wrap-caption
        display: block
        padding-left: 110px
        box-shadow: none
        position: relative
        z-index: 4
        background-color: transparent

    .wrapper-partners
        z-index: 30

    .desktop .caption-menu
        text-align: left
        font-size: 30px
        font-weight: 700
        letter-spacing: 1.5px

    .caption-lines__last-item 
        padding-left: 45px


    .partners__item
        position: absolute
        margin: 0
        z-index: 3
        display: flex
        max-height: 1000px

    .wrap-img
        margin: auto

    .boosteroid
        width: 160px
        height: 160px
        box-shadow: 10px 17px 40px rgba(0, 0, 0, 0.2)
        border: 2px solid #528be6
        top: 31%
        left: 6%

    .telesens-company
        width: 160px
        height: 160px
        border: 2px solid #3a3a3c
        box-shadow: 10px 17px 40px rgba(0, 0, 0, 0.2)
        top: 16%
        left: 57%
        &-img
            height: 21px

    .skalar
        width: 120px
        height: 120px
        border: 2px solid #3a3a3c
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        top: 66%
        left: 66%
        &-img
            height: 51px

    .artjoker
        width: 150px
        height: 150px
        border: 2px solid #3a3a3c
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        top: 18%
        left: 19%
        &-img
            height: 31px

    .beetroot-comp
        width: 160px
        height: 160px
        border: 2px solid #3a3a3c
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        top: 30%
        left: 73%
        &-img
            height: 51px

    .boosteroid-img
        height: 11px

    .burningroof
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        width: 120px
        height: 120px
        top: 25%
        left: 40%
        &-img
            display: none
            visibility: hidden
            &-long
                display: block
                visibility: visible
                height: 73px
    .epam
        width: 160px
        height: 160px
        box-shadow: 10px 17px 40px rgba(0, 0, 0, 0.2)
        border: 2px solid #528be6
        left: 44%
        top: 36%

    .a-level
        width: 120px
        height: 120px
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #b8bec7
        top: 85%
        left: 53%
        &-img
            height: 4.5vmin  

    .beetroot
        width: 160px
        height: 160px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        top: 34%
        left: 56%
        z-index: 4
        &-img
            height: 50px

    .seven-pro
        top: 45%
        left: 21%
        width: 19vmin
        height: 19vmin
        box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.3)
        border: 1px solid #3a3a3c
        z-index: 2
        &-img
            height: 4.5vmin

    .callpage
        width: 160px
        height: 160px
        box-shadow: 10px 17px 40px rgba(0, 0, 0, 0.2)
        border: 2px solid #3a3a3c
        top: 58%
        left: 35%
        &-img
            height: 40px   

    .adoria
        width: 160px
        height: 160px
        box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2)
        border: 2px solid #528be6
        top: 51%
        left: 76%
        &-img
            display: none
            visibility: hidden
            &-long
                display: block
                visibility: visible
                height: 70px
    .fly
        top: 62%
        left: 7%
        width: 15vmin
        height: 15vmin
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        &-img
            height: 25px

    .ideasoft
        width: 140px
        height: 140px
        box-shadow: 8px 13px 40px rgba(0, 0, 0, 0.2)
        border: 2px solid #3a3a3c
        background-color: #ffffff
        top: 80%
        left: 47%
        &-img
            height: 22px

    .foxminded-comp
        width: 140px
        height: 140px
        box-shadow: 8px 13px 40px rgba(0, 0, 0, 0.2)
        border: 2px solid #3a3a3c
        background-color: #ffffff
        top: 78%
        left: 19%
        &-img
            height: 12vmin

    .source
        width: 115px
        height: 115px
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        top: 48%
        left: 73%
        &-img
            height: 30px

    .uit
        width: 130px
        height: 130px
        box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.3)
        border: 2px solid #3a3a3c
        top: 59%
        left: 82%
        &-img
            height: 35px

    .telesens
        width: 160px
        height: 160px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        top: 14%
        left: 64%
        &-img-long 
            display: block
            visibility: visible
            height: 90px
        &-img
            display: none
    .rademade
        width: 170px
        height: 170px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        top: 76%
        left: 76%
        &-img
            height: 30px

    .promin
        width: 100px
        height: 100px
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        top: 87%
        left: 29%
        &-img
            height: 40px



    .starindustry
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        top: 19%
        left: 47%
        width: 15vmin
        height: 15vmin
        &-img
            height: 60px


    .doctrina
        width: 110px
        height: 110px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        top: 79%
        left: 16%
        &-img
            height: 55px


    .epam
        top: 43%
        left: 47%

    .lemon
        width: 110px
        height: 110px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        top: 61%
        left: 14%
        z-index: 2
        &-img
            height: 14px


    .main-academy
        top: 16%
        left: 3%
        width: 150px
        height: 150px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        z-index: 4
        &-img
            height: 100px


    .pause-school
        top: 14%
        left: 29%
        width: 17vmin
        height: 17vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #528be6
        &-img
            height: 70px


    .foxminded
        top: 68%
        left: 33%
        width: 160px
        height: 160px
        z-index: 1
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        &-img
            height: 90px


    .cloud-it
        top: 28%
        left: 11%
        width: 160px
        height: 160px
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3)
        border: 1px solid #528be6
        &-img
            height: 47px


    .hillel
        top: 78%
        left: 77%
        width: 160px
        height: 160px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        &-img-long
            display: block
            visibility: visible
            height: 90px

        &-img
            display: none


            
    .brain
        width: 150px
        height: 150px
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #528be6
        top: 46%
        left: 23%
        &-img
            display: none
            visibility: hidden
            &-long
                display: block
                visibility: visible
                height: 85px
        



    .brain-non
        width: 30vmin
        height: 30vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #528be6
        top: 40%
        left: 14%
        &-img
            display: none
            visibility: hidden
            &-long
                display: block
                visibility: visible
                height: 18vmin
        


    .claster
        width: 30vmin
        height: 30vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 2px solid #3a3a3c
        top: 40%
        left: 57%
        &-img
            display: block
            visibility: visible
            height: 9vmin


    .answer
        width: 150px
        height: 150px
        top: 66%
        left: 60%
        border: 2px solid #528be6
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        &-img
            height: 30px


    .sochnik
        width: 110px
        height: 110px
        &-img
            height: 35px

        border: 1px solid #3a3a3c
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        top: 33%
        left: 83%

    .logos-it
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        top: 45%
        left: 2%
        width: 16vmin
        height: 16vmin
        z-index: 1
        &-img 
            height:32px


    .dialon
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        top: 21%
        left: 87%
        width: 12vmin
        height: 12vmin
        &-img 
            height:70px


    .vertex-academy
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        top: 33%
        left: 37%
        width: 15vmin
        height: 15vmin

    .jon
        width: 15vmin
        height: 15vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        left: 3%
        top:70%
        z-index: 1

    .epam-training
        top: 51%
        left: 45%
        width: 22vmin
        height: 22vmin
        z-index: 4
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        &-img
            display: none
            &-long
                display: block
                visibility: visible
                height: 20vmin
        


    //leng school 
    .languageclub
        width: 35vmin
        height: 35vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #528be6
        background-color: #ffffff
        top: 30%
        left: 59%
        &-img
            height: 8.5vmin


    .family-english
        width: 35vmin
        height: 35vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #3a3a3c
        background-color: #ffffff
        top: 57%
        left: 10%
        &-img
            height: 12vmin


    .languagelab
        width: 35vmin
        height: 35vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #528be6
        background-color: #ffffff
        top: 67%
        left: 52%
        &-img
            height: 20vmin


    .linguaroad
        width: 35vmin
        height: 35vmin
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.15)
        border: 1px solid #528be6
        background-color: #ffffff
        top: 20%
        left: 19%
        &-img
            height: 22vmin
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
    .wrap-caption .caption-menu
        font-size: 20px
        letter-spacing: 1px

    .boosteroid
        top: 39%
        left: 2%
        z-index: 4
        width: 160px
        height: 160px

    .boosteroid-img
        height: 12px

    .burningroof
        top: 58%
        left: 82%
        z-index: 1
        width: 100px
        height: 100px

    .burningroof-img-long
        display: block
        visibility: visible
        height: 73px

    .burningroof-img,
    .epam-training-img
        display: none
        visibility: hidden


    .seven-pro
        top: 54%
        left: 60%
        width: 120px
        height: 120px
        &-img
            height: 4vmin



    .callpage
        top: 46%
        left: 41%
        width: 140px
        height: 140px
        &-img
            height: 30px


    .claster
        left: 20%

    .adoria
        top: 42%
        left: 23%
        width: 140px
        height: 140px
        box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2)
        border: 2px solid #528be6
        &-img
            height: 70px


    .fly
        top: 66%
        left: 9%
        width: 15vmin
        height: 15vmin
        &-img
            height: 25px



    .ideasoft
        top: 74%
        left: 51%
        width: 110px
        height: 110px
        z-index: 4
        &-img
            height: 18px


    .telesens-company
        top: 19%
        left: 52%
        &-img
            height: 25px


    .skalar
        top: 80%
        left: 17%
        width: 110px
        height: 110px
        &-img
            height:50px
        

    .artjoker
        top: 17%
        left: 14%
        width: 150px
        height: 150px

    .beetroot-comp
        top: 27%
        left: 72%

    .rademade
        top: 68%
        left: 67%
        z-index: 2
        width: 21vmin
        height: 21vmin

    .foxminded-comp
        top: 70%
        left: 32%

    .epam
        top: 15%
        left: 34%
        &-img
            height: 7vmin


    .telesens
        top: 19%
        left: 58%
        width: 22vmin
        height: 22vmin

    .a-level
        top: 13%
        left: 44%
        width: 120px
        height: 120px
        &-img 
            height:35px


    .uit
        top: 61%
        left: 18%
        width: 20vmin
        height: 20vmin
        &-img
            height: 30px


    .source
        border: 1px solid #528be6
        top: 79%
        left: 14%
        &-img
            height: 25px


    .beetroot
        top: 35%
        left: 70%
        width: 140px
        height: 140px
        z-index: 4
        &-img 
            height:50px


    .promin
        top: 82%
        left: 34%
        z-index: 1

    .starindustry
        top: 82%
        left: 51%

    .doctrina
        top: 73%
        left: 1%

    .lemon
        top: 37%
        left: 21%
        z-index: 2

    .main-academy
        top: 14%
        left: 8%
        z-index: 4
        width: 160px
        height: 160px

    .pause-school
        top: 19%
        left: 77%

    .foxminded
        width: 20vmin
        height: 20vmin
        top: 65%
        left: 39%
        &-img 
            height:95px


    .cloud-it
        top: 32%
        left: 4%
        width: 20vmin
        height: 20vmin

    .hillel
        top: 71%
        left: 76%
        width: 20vmin
        height: 20vmin

    .brain
        top: 37%
        left: 51%
        width: 20vmin
        height: 20vmin

    .answer
        top: 58%
        left: 58%
        width: 20vmin
        height: 20vmin

    .sochnik
        top: 55%
        left: 81%
        width: 15vmin
        height: 15vmin

    .jon
        top: 81%
        left: 65%
        width: 15vmin
        height: 15vmin

    .logos-it
        width: 71px
        height: 71px


    .vertex-academy
        top: 54%
        left: 29%
        width: 15vmin
        height: 15vmin

    .dialon
        top: 58%
        left: 7%
        width: 15vmin
        height: 15vmin
        z-index: 1

    .logos-it
        top: 17%
        left: 26%
        width: 16vmin
        height: 16vmin

    .epam-training
        top: 31%
        left: 35%

    //leng-school
    .family-english
        top: 27%
        left: 24%
        width: 30vmin
        height: 30vmin

    .languagelab
        top: 54%
        left: 42%
        width: 30vmin
        height: 30vmin

    .linguaroad
        top: 53%
        left: 8%
        width: 30vmin
        height: 30vmin

    .languageclub
        top: 27%
        left: 59%
        width: 30vmin
        height: 30vmin

    .brain-non
        left: 57%

    .box
        position: absolute
        height: 100%
        width: 100%
        left: 0px
        top: 0px

@media only screen and (min-width: 1110px) and (max-width: 1169px)

    .boosteroid
        top: 36%
        left: 3%
        z-index: 4
        width: 160px
        height: 160px

    .boosteroid-img
        height: 12px

    .burningroof
        top: 82%
        left: 63%
        width: 100px
        height: 100px

    .burningroof-img-long
        display: block
        visibility: visible
        height: 73px

    .burningroof-img
        display: none
        visibility: hidden


    .seven-pro
        top: 52%
        left: 61%
        width: 18vmin
        height: 18vmin
        &-img
            height: 26px


    .claster
        left: 13%

    .brain-non
        left: 60%

    .callpage
        top: 49%
        left: 43%
        width: 140px
        height: 140px
        &-img
            height: 30px



    .adoria
        top: 43%
        left: 24%
        width: 140px
        height: 140px
        box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2)
        border: 2px solid #528be6
        &-img
            height: 70px


    .fly
        top: 65%
        left: 8%
        width: 15vmin
        height: 15vmin
        &-img
            height: 50px



    .ideasoft
        top: 74%
        left: 49%
        width: 17vmin
        height: 17vmin
        z-index: 4
        &-img
            height: 18px


    .telesens-company
        top: 21%
        left: 54%
        &-img
            height: 25px


    .skalar
        top: 79%
        left: 16%
        width: 110px
        height: 110px
        &-img
            height:50px
        

    .artjoker
        top: 18%
        left: 14%
        width: 150px
        height: 150px

    .beetroot-comp
        top: 31%
        left: 71%

    .rademade
        top: 66%
        left: 74%
        width: 21vmin
        height: 21vmin

    .foxminded-comp
        top: 66%
        left: 31%

    .epam
        top: 20%
        left: 36%

    .telesens
        top: 17%
        left: 58%
        width: 22vmin
        height: 22vmin

    .a-level
        top: 13%
        left: 45%
        width: 120px
        height: 120px
        &-img 
            height:35px


    .uit
        top: 59%
        left: 17%
        width: 20vmin
        height: 20vmin
        &-img
            height: 30px


    .source
        border: 1px solid #528be6
        top: 78%
        left: 12%
        &-img
            height: 25px


    .beetroot
        top: 35%
        left: 71%
        width: 140px
        height: 140px
        z-index: 4
        &-img 
            height:50px


    .promin
        top: 80%
        left: 30%
        z-index: 1

    .starindustry
        top: 81%
        left: 51%

    .doctrina
        top: 72%
        left: 1%

    .lemon
        top: 39%
        left: 20%
        width: 17vmin
        height: 17vmin
        z-index: 2

    .main-academy
        top: 16%
        left: 10%
        z-index: 4
        width: 160px
        height: 160px

    .pause-school
        top: 19%
        left: 80%

    .foxminded
        width: 20vmin
        height: 20vmin
        top: 64%
        left: 41%
        &-img 
            height:95px


    .cloud-it
        top: 34%
        left: 1%
        width: 20vmin
        height: 20vmin

    .hillel
        top: 69%
        left: 77%
        width: 20vmin
        height: 20vmin

    .brain
        top: 40%
        left: 52%
        width: 20vmin
        height: 20vmin

    .answer
        top: 60%
        left: 62%
        width: 20vmin
        height: 20vmin

    .sochnik
        top: 50%
        left: 82%
        width: 15vmin
        height: 15vmin

    .jon
        top: 80%
        left: 67%
        width: 15vmin
        height: 15vmin

    .logos-it
        width: 71px
        height: 71px


    .vertex-academy
        top: 58%
        left: 32%
        width: 15vmin
        height: 15vmin

    .dialon
        top: 16%
        left: 27%
        width: 17vmin
        height: 17vmin
        z-index: 1

    .logos-it
        top: 57%
        left: 6%
        width: 15vmin
        height: 15vmin

    .languageclub
        top: 22%
        left: 63%
        width: 30vmin
        height: 30vmin

    .family-english
        top: 50%
        left: 13%
        width: 30vmin
        height: 30vmin

    .languagelab
        top: 51%
        left: 46%
        width: 30vmin
        height: 30vmin

    .linguaroad
        top: 22%
        left: 29%
        width: 30vmin
        height: 30vmin
        z-index: 1

    .epam-training
        top: 32%
        left: 37%


@media only screen and (min-width: 1170px)
    .wrapper-partners
        padding-top: 25px

    .partners__item
        cursor: pointer

    .partners__item:hover
        // animation-name: bouncPartners
        // animation-duration: 0.7s
        // animation-direction: alternate
        // animation-delay: 0.3s
        // animation-iteration-count: infinite
        // animation-fill-mode: backwards
        // animation-timing-function: linear

    .wrap-caption
        padding-left: 217px

    .desktop .caption-menu
        text-align: left
        font-size: 30px
        font-weight: 700
        letter-spacing: 1.5px

    .caption-lines__last-item
        padding-left: 45px

    .partners
        z-index: 5

    
    .callpage
        top: 48%
        left: 56%
        width: 23vmin
        height: 23vmin
        &-img 
            height:6vmin
    

    .boosteroid
        top: 34%
        left: 11%
        width: 25vmin
        height: 25vmin
        &-img 
            height:2vmin
    

    .adoria
        top: 46%
        left: 82%
        width: 23vmin
        height: 23vmin
        &-img-long 
            height:12vmin
    

    .ideasoft
        top: 71%
        left: 50%
        width: 21vmin
        height: 21vmin
        &-img 
            height:3.5vmin
    

    .rademade
        top: 66%
        left: 68%
        width: 25vmin
        height: 25vmin
        &-img 
            height:4vmin
    

    .seven-pro
        top: 54%
        left: 26%
        width: 20vmin
        height: 20vmin
        &-img 
            height:3.5vmin
    

    .burningroof
        top: 20%
        left: 46%
        width: 19vmin
        height: 19vmin
        &-img-long 
            height:11vmin
    

    .fly
        top: 73%
        left: 20%
        width: 15vmin
        height: 15vmin
        &-img 
            height:3.2vmin
    

    .telesens-company
        top: 15%
        left: 59%
        width: 25vmin
        height: 25vmin
        &-img 
            height:4.1vmin
    

    .skalar
        top: 75%
        left: 40%
        width: 17vmin
        height: 17vmin
        &-img 
            height:9vmin
    

    .artjoker
        top: 23%
        left: 28%
        width: 23vmin
        height: 23vmin
        &-img 
            height:4.7vmin
    

    .beetroot-comp
        top: 30%
        left: 74%
        width: 23vmin
        height: 23vmin
        &-img 
            height:8vmin
    

    .foxminded-comp
        top: 70%
        left: 8%

    .epam
        top: 41%
        left: 38%

    .modal-parners
        .epam-training-img-long
            height: 15vmin
    

    // school
    .telesens
        top: 17%
        left: 65%
        height:25vmin
        width: 25vmin
        &-img-long 
            height:6.3vmin
    

    .a-level
        top: 21%
        left: 54%
        width: 20vmin
        height: 20vmin
        &-img 
            height:4.4vmin
    

    .uit
        top: 42%
        left: 82%
        width: 21vmin
        height: 21vmin
        &-img 
            height:6vmin
    

    .source
        top: 38%
        left: 73%
        width: 18vmin
        height: 18vmin
        &-img 
            height:5vmin
    

    .beetroot
        top: 40%
        left: 47%
        height:25vmin 
        width: 25vmin
        &-img 
            height:8vmin
    

    .promin
        top: 20%
        left: 17%
        width: 13vmin
        height: 13vmin
        &-img 
            height:5vmin
    

    .starindustry
        top: 77%
        left: 54%
        height:15vmin 
        width: 15vmin
        &-img 
            height:8vmin
    

    .doctrina
        top: 68%
        left: 14%
        width: 19vmin
        height: 19vmin
        &-img 
            height:7.5vmin
    

    .lemon
        top: 42%
        left: 38%
        height:17vmin 
        width: 17vmin
        &-img 
            height:2.2vmin
    

    .main-academy
        top: 18%
        left: 28%
        width: 23vmin
        height: 23vmin
        &-img 
            height:15vmin
    

    .pause-school
        top: 15%
        left: 81%
        height:17vmin 
        width: 17vmin
        &-img 
            height:13vmin
    

    .foxminded
        top: 66%
        left: 38%
        width: 25vmin
        height: 25vmin
        &-img 
            height:14vmin
    

    .cloud-it
        top: 14%
        left: 3%
        width: 25vmin
        height: 25vmin
        &-img 
            height:7vmin
    

    .hillel
        top: 69%
        left: 72%
        width: 25vmin
        height: 25vmin
        &-img-long 
            height:13vmin
    

    .brain
        top: 37%
        left: 13%
        width: 23vmin
        height: 23vmin
        padding: 10px
        &-img-long 
            width: 18vmin
            height: 20vmin
    

    .answer
        top: 55%
        left: 60%
        width: 23vmin
        height: 23vmin
        &-img 
            height:4.5vmin
    

    .sochnik
        top: 73%
        left: 85%
        width: 16vmin
        height: 16vmin
        padding: 10px
        &-img 
            height: 100%
    

    .jon
        top: 73%
        left: 2%

    .vertex-academy
        top: 77%
        left: 27%
        width: 15vmin
        height: 15vmin
        &-img 
            height:3.7vmin
    

    .dialon
        top: 23%
        left: 42%
        width: 16vmin
        height: 16vmin

    .logos-it
        top: 54%
        left: 4%
        width: 18vmin
        height: 18vmin

    .epam-training
        top: 46%
        left: 25%
        width: 25vmin
        height: 25vmin

    .languageclub
        top: 22%
        left: 63%
        width: 30vmin
        height: 30vmin
        &-img
            height: 7vmin
    

    .family-english
        left: 12%
        top: 50%
        width: 30vmin
        height: 30vmin
        &-img
            height: 10vmin
    

    .languagelab
        top: 51%
        left: 46%
        width: 30vmin
        height: 30vmin

    .linguaroad
        top: 22%
        left: 29%
        width: 30vmin
        height: 30vmin
        z-index: 1

    .claster
        top: 36%
        left: 23%

    .brain-non
        top: 36%
        left: 62%


@media only screen and (min-width: 1550px)
    .wrapper-partners
        padding-top: 30px

    .wrap-caption
        padding-left: 338px
        z-index: 7


    .desktop .caption-menu
        font-size: 40px
        letter-spacing: 2px

    .partners
        z-index: 5

    .callpage
        top: 46%
        left: 53%

    .rademade
        top: 62%
        left: 68%

    .seven-pro
        top: 57%
        left: 26%
        width: 20vmin
        height: 20vmin

    .burningroof
        top: 76%
        left: 19%

    .adoria
        top: 52%
        left: 82%

    .ideasoft
        top: 72%
        left: 41%

    .fly
        top: 80%
        left: 56%
        width: 15vmin
        height: 15vmin

    .telesens-company
        top: 15%
        left: 58%

    .skalar
        top: 20%
        left: 47%

    .artjoker
        top: 19%
        left: 27%

    .beetroot-comp
        top: 25%
        left: 74%

    .foxminded-comp
        top: 68%
        left: 6%
        width: 20vmin
        height: 20vmin

    .epam
        top: 39%
        left: 35%
        width: 25vmin
        height: 25vmin
        &-img
            height: 8vmin
    

    .telesens
        top: 16%
        left: 67%
        width: 22vmin
        height: 22vmin
        z-index: 1

    .a-level
        top: 23%
        left: 54%
        width: 20vmin
        height: 20vmin
        &-img 
            height:5.5vmin
    

    .uit
        top: 47%
        left: 83%
        width: 20vmin
        height: 20vmin

    .source
        top: 53%
        left: 61%
        width: 21vmin
        height: 21vmin
        z-index: 2

    .beetroot
        top: 50%
        left: 49%
        width: 20vmin
        height: 20vmin

    .promin
        top: 30%
        left: 22%

    .starindustry
        top: 80%
        left: 58%

    .doctrina
        top: 75%
        left: 14%

    .lemon
        top: 39%
        left: 39%

    .main-academy
        top: 17%
        left: 30%
        width: 22vmin
        height: 22vmin

    .pause-school
        top: 14%
        left: 82%

    .foxminded
        top: 69%
        left: 43%
        width: 22vmin
        height: 22vmin

    .cloud-it
        top: 13%
        left: 9%
        width: 22vmin
        height: 22vmin

    .hillel
        top: 73%
        left: 70%
        width: 22vmin
        height: 22vmin
        z-index: 1

    .brain
        top: 48%
        left: 11%
        width: 22vmin
        height: 22vmin

    .answer
        top: 38%
        left: 71%
        width: 19vmin
        height: 19vmin
        z-index: 1
        &-img
            height: 4vmin
    

    .sochnik
        top: 73%
        left: 85%

    .jon
        top: 71%
        left: 4%
        width: 15vmin
        height: 15vmin

    .vertex-academy
        top: 78%
        left: 31%
        width: 16vmin
        height: 16vmin

    .dialon
        top: 19%
        left: 44%

    .logos-it
        top: 34%
        left: 1%

    .epam-training
        top: 49%
        left: 25%

@media only screen and (min-width: 1840px)
    .rademade
        left: 66%
        top: 68%

    .telesens
        top: 18%
        left: 66%

    .a-level
        top: 22%
        left: 53%

    .source
        top: 54%
        left: 63%

    .beetroot
        top: 50%
        left: 51%

    .doctrina
        top: 48%
        left: 14%

    .lemon
        top: 38%
        left: 43%

    .foxminded
        top: 70%
        left: 43%

    .brain
        top: 72%
        left: 8%

    .answer
        top: 38%
        left: 72%

    .jon
        top: 74%
        left: 22%
        &-img 
            height:6vmin
    
    .vertex-academy
        top: 79%
        left: 33%
        z-index: 1

    .dialon
        top: 40%
        left: 4%
        &-img
            height: 12vmin
    
    .logos-it
        top: 14%
        left: 43%
        &-img
            height: 4.5vmin

    .epam-training
        top: 45%
        left: 26%