extends layout/layoutCompany

block content
    include include/preloader.pug
    include include/header-company.pug
    include component/lineMain.pug
    include component/form/form.pug
    include component/right-social.pug
    include section/who-are-we/who-are-we-company.pug
    include section/why-we/why-we-company.pug
    include section/hiring-costs.pug
    include section/functional/functionalCompany.pug
    include section/partners.pug
    include section/seurity.pug
    include section/advantages/advantagesCompany.pug
    include include/cookie.pug
    include include/menu-humb.pug
    include include/footer.pug