extends layout/layoutApplicant

block content
    include include/preloader.pug
    include include/header-applicant.pug
    include component/lineMain.pug
    include component/form/form.pug
    include component/right-social.pug
    include section/who-are-we/who-are-we-applicant.pug
    include section/why-we/why-we-applicant.pug
    include section/functional/functionalApplicant.pug
    include section/partners.pug
    include section/seurity.pug
    include section/advantages/advantagesApplicant.pug
    include include/cookie.pug
    include include/menu-humb.pug
    include include/footer.pug