- var technology = ['JavaScript', 'Markup', 'Python','C++', 'C#', 'Java', 'PHP', 'QA', 'AQA']
main.main--expert.expert
    div(class="wrap-caption caption--experts")
        h2(class="caption-menu")
            span(class="caption-lines__firs-item font--blue") наши 
            div.wrap--caption-lines-last
                span(class="caption-lines__last-item") эксперты
    div
        ul.tab-experts.tabs--btn
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="javascript") JavaScript
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="markup") Markup
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="python") Python
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="cplus") C++
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="csharp") C#
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="java") Java
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="php") PHP
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="qa") QA
            li.tab-experts-item
                button.tab-experts-btn(data-tab-nav="aqa") AQA
        h2.caption--technology
            span.tab--caption-tech JavaScript 
            |  Technology
    .expert__content.tabs--block
        .expert__block(data-tab-block="javascript")
            .expert__wrap-img
                img.expert__img(src=publicPathCSS+"public/img/expert/experts.png")
            .expert__wrap-desc
                .expert__wrap-caption
                    h2.expert__caption Иван Иванов
                    p.expert__technology JavaScript developer
            .expert-information
                h2.expert-information__name Иван Иванов
                p.expert-information__position JavaScript developer
                h3.font--16.font--700.font--uppercase.margin--b-20 About 
                p.expert-information__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio optio dolore sequi neque sunt unde atque aspernatur, obcaecati aliquid iste aut libero, laboriosam natus iusto modi tempore molestias dolorum velit.

                h4.font--16.font--700.font--uppercase.margin--b-20 Software skills
                ul.fl.fl--wrap.expert-information__skills
                    li.expert-information__skills-item.bg-JavaScript(title="JavaScript")
                    li.expert-information__skills-item.bg-AJAX(title="Ajax")
                    li.expert-information__skills-item.bg-React(title="React")
                    li.expert-information__skills-item.bg-redux(title="Redux")
                .expert-information__wrap-experience
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-experience.expert-experience__icon
                            p.expert-experience__desc Опыт в сфере IT
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 6
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 лет
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-experience_mentor.expert-experience__icon
                            p.expert-experience__desc Опыт менторства
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 4
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 года
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-dev_patform.expert-experience__icon
                            p.expert-experience__desc Принял участие в разработке
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 40
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 тестов
                    div.expert-information__experience.expert-information__experience--contact
                        p.icon-check_mark.icon--blue.icon--margin-r-10.margin--md-b-0.icon--size-14.font--14.margin--b-10.ic готов преподавать online в городе 
                            span.font--14.font--500 Харьков 
                            |или 
                            span.font--14.font--500 Киев 
                        button.btn.btn--theme-blue.font--16.padding--yc-5.padding--xc-10 Связаться
        .expert__block(data-tab-block="markup")
            .expert__wrap-img
                img.expert__img(src=publicPathCSS+"public/img/expert/experts.png")
            .expert__wrap-desc
                .expert__wrap-caption
                    h2.expert__caption Иван Иванов
                    p.expert__technology Markup developer
            .expert-information
                h2.expert-information__name Иван Иванов
                p.expert-information__position Markup developer
                h3.font--16.font--700.font--uppercase.margin--b-20 About 
                p.expert-information__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio optio dolore sequi neque sunt unde atque aspernatur, obcaecati aliquid iste aut libero, laboriosam natus iusto modi tempore molestias dolorum velit.

                h4.font--16.font--700.font--uppercase.margin--b-20 Software skills
                ul.fl.fl--wrap.expert-information__skills
                    li.expert-information__skills-item.bg-JavaScript(title="JavaScript")
                    li.expert-information__skills-item.bg-AJAX(title="Ajax")
                    li.expert-information__skills-item.bg-React(title="React")
                    li.expert-information__skills-item.bg-redux(title="Redux")
                .expert-information__wrap-experience 
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-experience.expert-experience__icon
                            p.expert-experience__desc Опыт в сфере IT
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 6
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 лет
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-experience_mentor.expert-experience__icon
                            p.expert-experience__desc Опыт менторства
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 4
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 года
                    div.expert-information__experience
                        div.expert-experience.expert-experience--desc
                            div.bg-dev_patform.expert-experience__icon
                            p.expert-experience__desc Принял участие в разработке
                        div.expert-experience
                            span.font--color-blue.font--50.font--700.margin--r-10 40
                            span.writing-mode--vertical-revers.font--colo-primary.font--700.font--uppercase.font--14 тестов
                    div.expert-information__experience.expert-information__experience--contact
                        p.icon-check_mark.icon--blue.icon--margin-r-10.margin--md-b-0.icon--size-14.font--14.margin--b-10.ic готов преподавать online в городе 
                            span.font--14.font--500 Харьков 
                            |или 
                            span.font--14.font--500 Киев 
                        button.btn.btn--theme-blue.font--16.padding--yc-5.padding--xc-10 Связаться