section.section.fl.fl--align-c.index--2#hiring
    div.block-hiring
        div.block-hiring__wrap-title
            h2.block-hiring__caption Затраты
                span.block-hiring__caption-text на найм
        div.block-hiring__wrap-content
            div.block-hiring__diagram
                img.block-hiring__diagram-img(src=publicPathCSS+"public/img/diagram.png" alt="diagram")
            div.block-hiring__desc
                div.block-hiring__desc-wrap-content
                    p.block-hiring__desc-agencies Затраты 
                        span.font--700 на сервис кадрового агенства
                    p.block-hiring__desc-hr Затраты 
                        span.font--700 на внутренний рекрутинг
                    p.block-hiring__desc-hiring Найм с помощью
                        span.font--color-primary.font--700  AN.
                        span.font--color-blue.font--700 WORKS