section.section.bg--light-gray.index--1#partners
    div.block-partners
        div.block-partners__wrap-caption
            h2.block-partners__caption Наши 
                spam.block-partners__caption-text партнеры
            div.block-partners__nav#block-partners__nav
        div.wrap-partners
            div.partners#partners-block
            div.blackout-partners#blackout-partners