section.section.fl.fl--align-c#security
    div.block-security
        div.block-security__wrap
            h2.block-security__caption Безопасность
                span.block-security__caption-text ваших  данных
            div.block-security__wrap-desc
                p.block-security__desc Ваши данные надежно зашифрованы как при передаче так и хранении
                    span.block-security__desc-number 01
                p.block-security__desc Пароли и другие конфиденциальные данные не хранятся и не передаются
                    span.block-security__desc-number 02
                p.block-security__desc Ваши данные защищены от случайного удаления 
                    span.block-security__desc-number 03
                p.block-security__desc Безопасность на уровне инфраструктуры, кода и интерфейса
                    span.block-security__desc-number 04