section.section.fl.fl--align-xl-c.bg--dark-gray.bg--xl-light-gray#who-we
    div.box--who-are-we
        img.box--who-are-we__img(src=publicPathCSS+"public/img/logo_large-w.svg")
    div.block-who
        h2.block-who__caption Кто
            span.block-who__caption-text Мы
        div.block-who__wrap-desc
            p.block-who__desc
                span.font--uppercase.block-who__desc-company An.Works
                | - первая платформа поиска работы для начинающих IT специалистов
            div.block-who__arrow
                img.block-who__arrow-img(src=publicPathCSS+"public/img/arrow.svg")
                img.block-who__arrow-img(src=publicPathCSS+"public/img/arrow-gray.svg")
                img.block-who__arrow-img(src=publicPathCSS+"public/img/arrow-white.svg")
