<!DOCTYPE html>
html(lang="en")
	- const publicPath = process.env.NODE_ENV == 'production' ? '/' : './';
	- const publicPathCSS = process.env.NODE_ENV == 'production' ? './' : './';
	head
		title Faq
		meta(charset='utf-8')
		link(rel="shortcut icon" href=publicPathCSS+"public/img/favicon.ico")
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name="format-detection" content="telephone=no")
		meta(property="og:title" content="AN.WORKS - Первый Smart рейтинг IT талантов.") 
		meta(property="og:type" content="product")
		meta(property="og:description" content="AN.WORKS - это специализированная платформа  с умной рейтинговой системой для IT компаний и соискателей начального уровня. Лежащая в основе платформы динамическая рейтинговая система, основана на  результатах протестированных навыков.") 
		meta(property="og:locale" content="ru_RU")
		meta(property="og:image" content="https://an.works/img/An.Works-ava.png")
		meta(property="og:image:width" content="1200")
		meta(property="og:image:height" content="640")
		meta(property="og:site_name" content="AN.WORKS")
		meta(name="google-site-verification" content="SSjfPxgswUXA90YyxYbKuCUapbqP0GCMd2NICL-suy4")
		meta(name="yandex-verification" content="cd1123fcab055501")
		link(rel='stylesheet', href=publicPathCSS+'public/build/build.app.css')
	body
		block content
		script(src=publicPath+"public/build/build.app.js")
		script(src="https://unpkg.com/current-device/umd/current-device.min.js")