.anchor
    position: fixed
    display: none
    z-index: 999
    width: 50px
    height: 50px
    bottom: 50px
    right: 15px
    background: #fff
    border: none
    border-radius: 50%
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.1)
    box-shadow: 0 3px 7px rgba(0,0,0,.1)
    cursor: pointer
    animation: opacity 0.5s ease backwards
    @media only screen and (min-width : 992px) 
        right: 12.4%
    &::before
        content: ''
        position: absolute
        display: block
        width: 30px
        height: 25px
        transform: rotate(180deg) translate(50% , 50%)
        left: 50%
        top: 50%
        background: url(../../public/img/drop.svg) center no-repeat
    &:hover
        border: 2px solid #528be6
