.blackout
    background-color: rgba(0,0,0,.5)
    width: 100%
    height: 100%
    position: fixed
    transform: translateX(-100%)
    z-index: 100
    top:0
    left: 0
    z-index: 1000
    opacity: 0
    display: flex
    transition: opacity 0.3s linear
    @media only screen and (min-width : 768px) 
        display: flex
        justify-content: flex-end
    &--show
        transform: translateX(0)
        opacity: 1