.section-why-we
    @media only screen and (min-width : 1200px)
        &:before,&:after
            content ""
            width 37.5%
            height 3px
            position absolute
            bottom 20%
        &:after
            background-color #000000
            left 12.5%
        &:before
            right 12.5%
            background-color #ffffff
    @media only screen and (min-width : 1439px)
        &:before,&:after
            bottom 17%
    @media only screen and (min-width : 1599px)
        &:before,&:after
            bottom 17%
    @media only screen and (min-width : 1919px)
        &:before,&:after
            bottom 16%
.block-why-we-desc,
.block-why-we-advantages
    max-width 100%
    height 100%
    flex 0 0 100%
    display flex
    justify-content center
    flex-direction column
.block-why-we-advantages__wrap-content
    align-items center
.block-why-we-desc
    height 60%
    padding 10% 5%
    position relative
    &__caption
        margin-bottom 20px
        &-text
            color $color-primary
        &-level
            font-weight 700
            font-size 1.4rem
            line-height 1.6rem
            color $color-primary
            margin-bottom 10px
            position relative
            &-item
                transition opacity 0.5s linear
                opacity 0
                top 50%
                left 0
                transform translateY(-50%)
                position absolute
                display block
                white-space pre-line
                &--active
                    opacity 1
    &__number-item
        position absolute
        color: $color-blue
        font-size: 10rem
        font-weight 700
        line-height: 1
        top 55%
        left 30%
        span 
            animation-name: opacity2
            animation-direction: alternate
            animation-fill-mode: backwards
            animation-timing-function: linear
            animation-duration 0.5s
            opacity 0.3
        @media only screen and (min-width : 728px)
            font-size: 25rem
            top 50%
            left 8%
        @media only screen and (min-width : 962px)
            top 40%
            left 29%
        @media only screen and (min-width : 1200px)                
            top 34%
            left 34.2%
        @media only screen and (min-width : 1599px)
            left 31.2%
        @media only screen and (min-width : 1919px)
            top 35%
            left 32.2%
    &__level-desc
        font-size: 1.4rem
        line-height: 1.8rem
        position relative
        &-item
            opacity 0
            position absolute
            left 0
            top 0
            transition opacity 0.5s
            font-size 1.2rem
            &--active
                opacity 1
    &__desc
        font-size: 1.2rem
        line-height: 1.6rem
        color: $color-primary
        margin-bottom 15px
    &__wrap-desc
        flex: 1
.block-why-we-advantages
    background-color $color-blue
    padding 5%
    height 40%
    &__wrap-content
        height 100%
    &__caption
        color #fff
        position relative
        opacity 0.7
        font-size 1.6rem
        text-transform uppercase
        margin-bottom: 25px
        &:before
            content ''
            position absolute
            top -10px
            left 2px
            width 80px
            height 2px
            opacity 0.5
            background-color #fff
    &__slider
        display flex
        flex-direction: column
@media only screen and (min-width : 768px)
    .block-why-we-desc,
    .block-why-we-advantages
        max-width 50%
        height 100%
        flex 0 0 50%
    .block-why-we-desc
        padding 10% 5%
        &__wrap-content
            height 100%
        &__wrap-desc
            margin-top 110%
        &__caption
            margin-bottom 20px
            margin-left: 20%
            &-level
                font-size 2.6rem
                line-height: 3rem
                margin-bottom 25px
        &__level-desc
            font-size: 1.8rem
            line-height: 2.2rem
            &-item
                font-size 1.4rem
        &__desc
            font-size: 1.8rem
            line-height: 2.2rem
            color: $color-primary
            margin-bottom 15px
            margin-left: 21%           
    .block-why-we-advantages
        padding 10% 0px 5%
        box-shadow: -9px 5px 40px rgba(0, 0, 0, 0.3);
        &__wrap-content
            display: flex
            flex-direction column
        &__wrap-content
            height 100%
        &__caption
            padding-left 18%
            font-size 2rem
            left -2px
            line-height: 2.4rem
            margin-bottom: 25px
            height 10%
            max-height 10%
            &:before
                top 12px
                left 2px
                width 30px
                height 2px
        &__slider
            display flex
            flex-direction row-reverse
            flex: 1
            padding: 0 5%
@media only screen and (min-width : 962px)
    .block-why-we-desc
        &__caption
            margin-left: 49.5%
        &__desc
            margin-left: 50%
        &__wrap-desc
            margin-left: 19%
            margin-top: 30%
@media only screen and (min-width : 1200px)
    .block-why-we-desc,
    .block-why-we-advantages
        max-width 50%
        height 100%
        flex 0 0 50%
        padding: 0
    .block-why-we-advantages__wrap-content,
    .block-why-we-desc__wrap-content
        height 80%
    .block-why-we-desc
        &__wrap-content
            justify-content space-between
            display flex
            flex-direction column
        &__wrap-desc
            flex 0
            margin-top: 0
            padding-bottom: 5%
            padding-top: 5%
        &__caption
            margin-bottom 30px
            margin-left 49.5%
            &-text
                color $color-primary
            &-level
                font-weight 700
                font-size 3.8rem
                line-height: 5.2rem
                color $color-primary
                width 92%
                margin-left auto
                margin-bottom 50px
        &__level-desc
            width 92%
            margin-left auto
            padding-right: 20px
            position relative
            &-item
                opacity 0
                position absolute
                left 0
                top 0
                transition opacity 0.5s
                font-size: 1.6rem
                padding-right: 20px
                &--active
                    opacity 1
        &__desc
            width 49.9%
            margin-left auto
            padding-right 2%
    .block-why-we-advantages
        &__wrap-content
            display block
        &__caption
            padding-left: 0
            color #fff
            position relative
            width 55%
            margin-left:25.6%
            opacity 0.7
            font-size 3rem
            line-height: 3.2rem
            text-transform uppercase
            height 10%
            max-height 10%
            &:before
                top 25%
                left -115px
                width 80px
        &__slider
            width 80%
            height 90%
            max-height 90%
            overflow hidden
            padding: 0
            margin: 0 auto
// @media only screen and (min-width : 1599px)
    