.block-hiring
    height 100%
    width 100%
    display flex
    flex-direction: column
    padding-top 4%
    position relative
    padding-top 19%
    @media only screen and (min-width : 768px)
        padding-top: 10%
    @media only screen and (min-width : 992px)
        padding-top: 7%
        &:after
            content ""
            position absolute
            width: 40px
            height 100%
            background-image url(../../public/img/lines-left.svg)
            left 0
            top 0
    @media only screen and (min-width : 1200px)
        padding-top: 4%
        &:before
            content: ''
            position absolute
            top 0
            z-index 1
            right 12.5%
            height 100%
            width: 25%
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3)
            background-color: #e9e9e9
    &__wrap-title
        position relative
        z-index 2
        padding 0 5%
        @media only screen and (min-width : 992px)
            margin-left: 24.8%     
            padding 0       
    &__wrap-content
        position relative
        z-index 2
        display flex
        flex 1
        flex-wrap: wrap
    &__caption
        letter-spacing: -3.49px
        &-text
            color: $color-primary
    &__diagram
        width: 100%
        height 65%
        display flex
        justify-content: flex-end
        align-items: flex-start
        justify-content center
        padding-top: 5%
        padding-bottom: 5%
        @media only screen and (min-width : 992px)
            width: 50%
            height 100%
        @media only screen and (min-width : 1200px)
            padding-top: 1%
            padding-bottom: 1%
            width: 50%
            display flex
            justify-content: flex-end
            align-items: center
        &-img
            display: block
            max-height: 100%
            @media only screen and (min-width : 1200px)
                display: block
                margin-right: 60px
                max-height: 100%
    &__desc
        background-color #ffffff
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3)
        width 100%
        height 35%
        display flex
        justify-content center
        flex-direction column
        padding-left 7.3%
        position relative
        @media only screen and (min-width : 768px)
            padding-left 0
            justify-content center
            align-items: center
        @media only screen and (min-width : 992px)
            align-items: flex-start
            padding-left 5.6%
            width 50%
            height 95%
            &:before,&:after
                content ""
                position absolute
                width: 100%
                height 40px
                background-image url(../../public/img/lines.svg)
            &:before
                top 0
                left 0
            &:after
                bottom 0
                left 0
                transform rotate(180deg)
        @media only screen and (min-width : 1200px)
            padding-left: 7.3%
        @media only screen and (min-width : 1599px)
            padding-left: 8.2%
        @media only screen and (min-width : 1599px)
            padding-left: 8.9%
        &-wrap-content
            @media only screen and (min-width : 768px)
                width: 55%
            @media only screen and (min-width : 992px)
                width: 100%
        &-agencies,&-hr,&-hiring
            position relative
            padding-left 50px
            font-size 1.4rem
            @media only screen and (min-width : 768px)
                font-size 2.4rem
                padding-left 70px
            @media only screen and (min-width : 992px)
                font-size: 2rem
            @media only screen and (min-width : 1200px)
                font-size: 2.2rem
            &:before
                content: ""
                position: absolute
                left 0
                top 50%
                width: 20px
                height 20px
                transform: translateY(-50%)
                border 1px solid #ffffff
                box-shadow 0 4px 20px rgba(0, 0, 0, 0.3)
                @media only screen and (min-width : 768px)
                    width 30px
                    height 30px
        &-agencies
            margin-bottom 3rem
            &:before
                background linear-gradient(45deg, #528BE6, #A70B0E 100%)
        &-hr
            margin-bottom 3rem
            &:before
                background linear-gradient(45deg, #528BE6, #FB8C05 125%)
        &-hiring
            &:before
                background linear-gradient(45deg, #528BE6, #4DCDA4 100%)
        // @media only screen and (min-width : 1200px)
        //     background-color #ffffff
        //     box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3)
        //     width 50%
        //     height 95%
        //     display flex
        //     justify-content center
        //     flex-direction: column
        //     padding-left: 7.3%
        //     &-agencies,&-hr,&-hiring
        //         position relative
        //         padding-left: 70px
        //         font-size: 2.4rem
        //         &:before
        //             content: ""
        //             position: absolute
        //             left 0
        //             top 50%
        //             width: 30px
        //             height 30px
        //             transform: translateY(-50%)
        //             border: 1px solid #ffffff
        //             box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3)
        //     &-agencies
        //         margin-bottom: 3rem
        //         &:before
        //             background: linear-gradient(45deg, #528BE6, #A70B0E 100%)
        //     &-hr
        //         margin-bottom: 3rem
        //         &:before
        //             background: linear-gradient(45deg, #528BE6, #FB8C05 125%)
        //     &-hiring
        //         margin-bottom: 3rem
        //         &:before
        //             background: linear-gradient(45deg, #528BE6, #4DCDA4 100%)