.block-who
    width 85%
    height 75%
    position absolute
    left 15%
    bottom: 0
    color #fff
    display flex
    align-items: center
    justify-content: center
    background-image url(../../public/img/img1.jpg)
    background-size cover
    background-position center
    background-repeat no-repeat
    box-shadow 0 10px 60px rgba(0, 0, 0, 0.5)
    &:before
        content ''
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        background-image linear-gradient(30deg, rgba(82, 139, 230, 0.9) 0%, rgba(77, 123, 196, 0.9) 20%, rgba(58, 58, 60, 0.8) 100%)
        opacity 0.8
    &__arrow
        position absolute
        width: 30px
        height 30px
        display flex
        bottom: 0
        right: 35%
        transform: translateY(49%)
        @media only screen and (min-width : 1919px)
            width: 50px
            height 50px
        &:before
            content ''
            position absolute
            height 2px
            top: calc(50% - 1px)
            background-color #ffffff
            width 250%
            transform: translateX(-100%)
            left 0
        &-img
            height 100%
    &__caption
        position absolute
        top 0
        z-index 2
        font-size 4rem
        text-transform uppercase
        margin-right 10%
        left 18px
        transform: translateY(-54%)
        letter-spacing 0.2rem
        color $color-blue
        &:before
            content ''
            position: absolute
            width: 50px
            height 4px
            background-color $color-primary
            top -5px
            left 3px
        &-text
            display block
            color #ffffff
    &__wrap-desc
            width 89%
            padding 7% 15px 7% 0px
            border-top 2px solid rgba(255,255,255,0.4)
            border-right 2px solid rgba(255,255,255,0.4)
            position relative
            z-index 2
            &:before
                content ''
                position absolute
                height 2px
                bottom 0
                background-color rgba(255,255,255,0.4)
                width 30%
                right 0
        &__desc
            font-size 1.8rem
            line-height: 2rem
            position relative
            z-index 2
    @media only screen and (min-width : 540px) and (max-width : 767.9px) and (max-height : 450px)
        height 70%
        &__wrap-desc
            margin-top: 0px
    @media only screen and (min-width : 768px)
        height 75%
        width: 68%
        left auto
        right 0
        justify-content: flex-start
        &__caption
            z-index 2
            font-size 12rem
            left -8px
            &:before
                top 27%
                left -67px
                width 50px
                height 4px
         &__wrap-desc
            margin auto 5%
            width 68%
        &__desc
            font-size 2.4rem
            line-height: 3rem
            font-weight: 400
            &-company
                font-size: 3.4rem
    @media only screen and (min-width : 962px)
        height 65%
        width: 75%
        &__wrap-desc
            width 80%
@media only screen and (min-width : 1200px)
    .block-who
        width 75%
        height 60%
        right 0
        bottom 6.1%
        display flex
        align-items: center
        &:before
            content ''
            position absolute
            width 100%
            height 100%
            left 0
            top 0
            background-color #528be6
            opacity 0.8
        @media only screen and (min-width : 1599px)
            bottom 8.1%
        @media only screen and (min-width : 1919px)
            bottom 9.1%
        &__caption
            position relative
            z-index 2
            font-size 12rem
            margin-right 10%
            left -0.9%
            top: -5%
            transform none
            color: #ffffff
            &-text
                display block
            &:before
                display none
        &__wrap-desc
            width 55%
            padding 3% 10px 3% 0px
            margin-left: 0
        &__desc
            font-size 2.4rem