.block-functional
    width 100%
    height 100%
    background-image url(../../public/img/logo_large-w-2.svg)
    background-repeat no-repeat
    background-size 85%
    background-position center 32%
    display flex
    flex-direction column
    padding 19% 5% 10%
    &__caption
        &-text
            color $color-primary
    &__desc
        align-items center
        color #fff
        margin-top: auto
        margin-bottom: auto
        display flex
    &__wrap-caption
       display none
    &__slider
        width: 100%
        padding-bottom 5%
        border-bottom 3px solid $color-blue
        &-wrap-item
            position relative
            visibility hidden
        &-caption-item
            font-size: 2rem
            margin-bottom: 25px
            padding-right: 20px
            color $color-blue
        &-dots
            display flex
            margin-bottom: 5%
            &-item
                margin: 0 10px
                width 26px
                height 26px
                cursor: pointer
                position relative
                &:before
                    content: "" 
                    position absolute
                    width: 6px
                    height 6px
                    left 50%
                    top: 50%
                    transform: translate(-50%, -50%)
                    background-color: $color-primary
                    opacity: 0.5
                    transition: opacity 1s linear
                &--line
                    &-left,&-top,&-right
                        position absolute
                        background-color $color-primary
                        top 0
                    &-left
                        width: 1px
                        height 0
                        transition: height 0.2s linear
                    &-top
                        left 0
                        height 1px
                        width: 0
                        transition: width 0.2s linear 0.2s
                     &-right
                        width: 1px
                        right 0
                        height 0
                        transition: height 0.2s linear 0.4s
                &--active
                    &:before
                        opacity 1
                    
        &-item
            color $color-primary
            font-size 1.6rem
            line-height 2rem
            position absolute
            opacity 0
            &--active
                opacity 1
.block-functional__slider-dots-item--active
    .block-functional__slider-dots-item--line
        &-left
            height 50%
            left: 0
        &-top
            width: 100%
            height 1px
            left 0 
        &-right
            width: 1px
            height 100%
            right 0
@keyframes opacity2
    0%
        opacity 0

    100%
        opacity 0.3
@keyframes opacity
    0%
        opacity 0

    100%
        opacity 1

@media only screen and (min-width : 768px)
    .block-functional
        background-position center 24%
        padding 10% 5%
        &__wrap-title
            margin-bottom: 20%
        &__caption
            &-text
                color $color-primary
        &__desc
            margin: 0
            flex-direction: column
            flex: 1
            justify-content space-between
        &__slider
            padding-bottom 5%
            border-bottom 3px solid $color-blue
            width: 100%
            &-caption-item
                display none
            &-item
                color $color-primary
                font-size 2.2rem
                line-height 2.8rem
                &-caption
                    position absolute
                    bottom 30%
                    left 27.5%
                    z-index 3
                    font-size 4rem
                    font-weight 700
                    max-width 65%
                    &-number
                        position absolute
                        font-size 18rem
                        letter-spacing -1.5rem
                        opacity 0.4
                        left 0
                        top 0
                        transform translate(-62%,-68%)
        &__wrap-caption
            height 100%
            width: 100%
            color #fff
            max-height: 300px
            display flex
            position relative
            align-items center
            box-shadow 0 10px 60px rgba(0, 0, 0, 0.5)
        &__slider-img
            width: 100%
            height: 100%
            z-index 1
            left 0
            top 0
            background-size cover
            background-position: center
            background-repeat no-repeat
            position absolute
            opacity 0
            transition: opacity 1s linear
            &:before
                content ''
                position absolute
                width 100%
                height 100%
                left 0
                top 0
                z-index 2
                background-color $color-blue
                opacity 0.8
            &--active
                opacity 1
        &--applicant
            .block-functional
                &__slide-1
                    background-image url(../../public/img/slider-img-1.jpg)
                &__slide-2
                    background-image url(../../public/img/slider-img-2.jpg)
                &__slide-3
                    background-image url(../../public/img/slider-img-3.jpg)
                &__slide-4
                    background-image url(../../public/img/slider-img-4.jpg)
                &__slide-5
                    background-image url(../../public/img/slider-img-5.jpg)
                &__slide-6
                    background-image url(../../public/img/slider-img-6.jpg)
        &--company
            .block-functional
                &__slide-1
                    background-image url(../../public/img/slider-company-img-1.jpg)
                &__slide-2
                    background-image url(../../public/img/slider-img-2.jpg)
                &__slide-3
                    background-image url(../../public/img/slider-company-img-3.jpg)
                &__slide-4
                    background-image url(../../public/img/slider-img-6.jpg)
@media only screen and (min-width : 962px)
    .block-functional
        background-position center 24%
        padding 0
        &__wrap-title
            margin-left: 24.8%
            margin-bottom: 0
        &__desc
            flex 1
            flex-direction: row
            padding-left 12.6%
            padding-top: 6%
        &__slider
            flex 0 0  35%
        &__wrap-caption
            max-height: 1000px
@media only screen and (min-width : 1200px)
    .block-functional
        background-size 69%
        background-position center 12%
        padding-top 4%
        &__desc
            padding-left 25%
        &__slider
            flex 0 0  33.4%
            padding-bottom 3%
            &-dots
                margin-bottom: 3vmin
            &-item
                font-size 1.6rem
                line-height 2rem
                padding-right 10%