.experts--page
    .nav-social__link
        color $color-primary
.main--expert
    padding-top: 81px
    background-color: #f3f3f3
    min-height: 100%
.expert
    &__content
        overflow hidden
    &__wrap
        &-caption
            @media only screen and (min-width : 768px)
                border: 5px solid $color-blue
                padding-left: 20px
                display flex
                flex-direction: column
                justify-content: center
                height 150px
                width: 300px
            @media only screen and (min-width : 962px)
                width: 400px
                height 200px
        &-desc
            text-align: center
            margin-bottom: 20px
            @media only screen and (min-width : 768px)
                text-align: left
                order 1
                width: 50%
                padding-top: 70px
            @media only screen and (min-width : 962px)
                padding-top: 90px
                margin-bottom: 0px
        &-img
            width: 100%
            height 200px
            text-align: center
            order: 1
            @media only screen and (min-width : 768px)
                text-align: center
                width: 50%
                height 300px
            @media only screen and (min-width : 962px)
                height auto
                display: flex
                align-items: flex-end
                margin-bottom: 0
            @media only screen and (min-width : 1200px)
                text-align: right
                justify-content: flex-end
    &__block
        display flex
        flex-direction: column
        background linear-gradient(to right, #f3f3f3 0%, #d0d1d2 50%, #f3f3f3 100%)
        border-bottom 3px solid $border-gray
        padding: 20px 5%;
        display none
        animation:  opacity 0.5s linear
        @media only screen and (min-width : 768px)
            flex-direction: row
            flex-wrap: wrap
        @media only screen and (min-width : 962px)
            width: 95%
            max-width 1500px
            margin: 0 auto
            min-height: 600px
            padding-left: 0px
            padding-right: 0px
            padding-bottom: 0
    &__caption
        font-size: 30px
        font-weight: 700
        line-height: 40px
        color: $color-primary
    &__technology
        font-size: 22px
        color: $color-primary
    &__img
        max-width 100%
        max-height: 100%
.expert-information
    margin-top: 20px
    display none
    order 1
    animation:  opacity 0.5s linear
    @media only screen and (min-width : 962px)
        animation: none
        width: 60%
        margin: 0 auto
        right 0px
        margin-top: 25px
        display: none
        flex-direction: column
        justify-content: center
    &__name
        font-size 26px
        font-weight: 700
        color: $color-blue
    &__position
        font-size: 20px
        color: $color-primary
        margin-bottom 40px
    &__about
        font-size: 16px
        color: $color-secondery
        line-height 20px
        margin-bottom: 40px
    &__skills
        margin-left -5px
        margin-right -5px
        margin-bottom: 40px
    &__skills-item
        margin-left: 5px
        margin-right: 5px
    &__wrap-experience
        display flex
        flex-wrap wrap
        justify-content: space-between
    &__experience
        display flex
        align-items: center
        margin-bottom: 20px
        &--contact
            width: 100%
            flex-wrap: wrap
            margin-bottom: 0
            justify-content: space-between
.expert-experience
    margin-right: 20px
    &__icon
        margin-bottom: 5px
    &__desc
        font-size: 14px
        font-weight: 700
        color $color-primary
    &--desc
        width 155px
        border-right: 3px solid rgba(58, 58, 60,0.5)
        padding-right 20px
        @media only screen and (min-width : 768px)
            width: auto
            max-width 125px
@keyframes opacity 
    from 
        opacity 0
    to 
        opacity 1
.mobile
    .expert--info-open
        .expert-information
            display block
.tablet.landscape
    @media only screen and (max-width : 960px)
        .expert--info-open
            .expert-information
                display block