 .block-advantages
        width: 100%
        height 100%
        position relative
        display flex
        flex-direction: column
        padding-top: 20%
        &__caption
            display: none
        &__wrap-after
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3)
            position relative
            z-index 1
            order 1
            &:before
                content ''
                position absolute
                width 100%
                height 100%
                left 0
                top 0
                background-color $color-blue
                opacity 0.8
                z-index 2
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                background-image url(../../public/img/img3.jpg)
                background-size cover
                background-repeat no-repeat
                left 0
                top 0
                opacity 0.4
                z-index 1
        &__wrap-before
            box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2)
            background-color: #ffffff;
            display: flex
            justify-content center
        &__caption-before
            color: $color-blue
            transform: translateY(-56%)
            line-height: 0.9
            font-size: 3rem
            left -4px
            position relative
            z-index 10
            &:before
                top -10px
                left 1px
                width: 50px
            &-text
                color $color-primary
        &__content
            &-before
                padding: 0 5%
            &-after
                position relative
                z-index: 10
                padding: 10% 5%
                @media only screen and (min-width : 1919px)
                    top 49%
                    left: 37.8%
        &__desc
            &-before
                font-size 1.8rem
                line-height: 2.2rem
                margin-top: 90px
                color $color-primary
                position relative
                margin-bottom: 10%
                &-text
                    position absolute
                    font-size 15rem
                    letter-spacing -1.2rem
                    font-weight: 700
                    opacity 0.1
                    left 0
                    top -6.7rem
                    color: $color-primary
            &-after
                font-size 1.8rem
                line-height: 2.2rem
                color #ffffff
                position relative
                margin-bottom: 10%
                margin-top: 50px
                &-text
                    position absolute
                    font-size 10rem
                    letter-spacing -0.5rem
                    font-weight: 700
                    opacity 0.4
                    left -0.7rem
                    top -3.7rem
                    color: #ffffff
        &__wrap-btn
            width 100%
        &__btn
            width 100%
            &--reg,&--contact-us
                font-size 1.4rem
                font-weight: 500
                text-transform: uppercase
                padding: 20px 0 
                line-height: 1
            &--reg
                box-shadow 0 10px 10px rgba(0, 0, 0, 0.14)
                background-color #ffffff
                margin-bottom 5%
            &--contact-us
                background-color: transparent
                box-shadow 0 10px 10px rgba(0, 0, 0, 0.25)
                border 1px solid #ffffff
                color #ffffff
@media only screen and (min-width : 768px)
    .block-advantages
        justify-content: flex-end
        padding-top: 0
        background-image url(../../public/img/logo_large-w-2.svg)
        background-repeat no-repeat
        background-size 85%
        background-position center 0
        &__caption
            display: block
            transform: translateY(-110%)
            line-height: 0.9
            left -4px
            position relative
            z-index 10
            &-text
                color #fff
        &__wrap-after
            margin-left: 16.7%
            width 75%
            margin-left: 25%
            height 79%
        &__wrap-before
            position absolute
            left: 0
            z-index 2
            bottom: 0
            height 74%
            width: 44%
        &__caption-before
            display: none
        &__content
            &-before
                width 80%
                position absolute
                top 20%
            &-after
                width: 65%
                position: absolute
                left: 30.4%
                top 19%
        &__desc
            &-before
                font-size 1.8rem
                line-height: 2.2rem
                color $color-primary
                position relative
                margin-bottom: 10%
                &-text
                    position absolute
                    font-size 15rem
                    letter-spacing -1.2rem
                    font-weight: 700
                    opacity 0.1
                    left -2rem
                    top -6.7rem
                    color: $color-primary
            &-after
                font-size 1.8rem
                line-height: 2.2rem
                &-text
                    font-size 12rem
                    letter-spacing -1.2rem
                    opacity 0.3
                    left -5rem
                    top -5.2rem
@media only screen and (min-width : 962px)
    .block-advantages
        &__wrap-before
            height 72%
        &__content
            &-before
                width 70%
                top 26%
                left 27.7%
            &-after
                top 23%
        &__caption
            &:before
                top: 50%
        &__desc
            &-after
                &-text
                    font-size 14rem
@media only screen and (min-width : 1200px)
    .block-advantages
        justify-content: flex-end
        &__wrap-before
            height 70%
            width: 44%
        &__content
            &-before
                width 50%
                top: 10%
                left 38.1%
            &-after
                width: 44%
                left: 37.4%
                padding: 0
                top 25%
        &__desc
            &-before
                font-size 1.8rem
                line-height: 2.2rem
                color $color-primary
                position relative
                margin-bottom: 10%
                &-text
                    position absolute
                    font-size 15rem
                    letter-spacing -1.2rem
                    font-weight: 700
                    opacity 0.1
                    left -2rem
                    top -6.7rem
                    color: $color-primary
            &-after
                max-width 90%
                font-size 1.8rem
                line-height: 2.2rem
                color #ffffff
                position relative
                margin-bottom: 10%
                &-text
                    position absolute
                    font-size 15rem
                    letter-spacing -1.2rem
                    font-weight: 700
                    opacity 0.2
                    left -5rem
                    top -5.2rem
                    color: #ffffff
        &__wrap-btn
            width 100%
        &__btn
            width 100%
            &--reg,&--contact-us
                font-size 1.4rem
                font-weight: 500
                text-transform: uppercase
                padding: 20px 0 
                line-height: 1
            &--reg
                box-shadow 0 10px 10px rgba(0, 0, 0, 0.14)
                background-color #ffffff
                margin-bottom 5%
            &--contact-us
                box-shadow 0 10px 10px rgba(0, 0, 0, 0.25)
                border 1px solid #ffffff
                color #ffffff
@media only screen and (min-width : 1599px)
    .block-advantages
        &__content
            &-before
                top: 24%
            &-after
                top 33%
                left: 38.1%
@media only screen and (min-width : 1919px)
    .block-advantages
        &__content
            &-before
                top: 26%
            &-after
                top 34%
                left: 37.8%