.block-security
    padding 30% 0 10%
    height 100%
    width: 100%
    &__wrap
        padding 0 5%
        width 100%
        height 100%
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3)
        background-color $color-blue
        position relative
        background-image url(../../public/img/print.png)
        background-repeat no-repeat
        background-size 80%
        background-position 84% 100%
        display: flex
        align-items: center
    &__caption
        line-height: 0.9
        top 0
        position: absolute
        left 18px
        transform: translateY(-54%)
        letter-spacing 0.2rem
        font-size: 3rem
        &:before
            top -10px
            left 1px
            width: 75px
        &-text
            color #fff
    &__wrap-desc
        padding-left: 17%
        margin-top: 30%
    &__desc
        font-size 1.4rem
        line-height 1.8rem
        color #ffffff
        position relative
        margin-bottom 20%
        &-number
            position absolute
            font-size 10rem
            letter-spacing -1.2rem
            font-weight 700
            opacity 0.1
            left 0
            top 0
            transform translate(-62%,-100%)
            color: $color-primary
@media only screen and (min-width : 768px)
    .block-security
        padding 20% 0 10%
        height 100%
        &__wrap
            width: 80%
            margin-left: 20%
        &__caption
            font-size: 6rem
        &__desc
            font-size: 2.2rem
            line-height: 2.6rem
@media only screen and (min-width : 962px)
    .block-security
        padding-top 13%
        padding-bottom: 6%
        &__wrap-desc
            padding-left: 10%
        &__wrap
            background-size 50%
            background-position 84% 100%
            width: 74.8%
            margin-left: auto
        &__desc
            margin-bottom: 10%
        &__caption
            &:before
                left -115px
                top 25%
                left -115px
                width: 80px
@media only screen and (min-width : 1200px)
    .block-security
        padding: 0
        padding-top 4%
        &__wrap
            width 75%
            margin-left 25%
            height 75%
            margin-top 7%
            background-size 33%
            padding-left 11%
        &__caption
            transform translateY(-56%)
            line-height 0.9
            left -4px
            &-text
                color #fff
        &__wrap-desc
            margin-left 0
            margin-top 9%
        &__desc
            font-size 1.6rem
            line-height 2rem
            max-width 70%
            &:last-child
                margin-bottom: 0