.box
    &--who-are-we
        width 50%
        height 100%
        background-color #ffffff
        box-shadow 0 5px 40px rgba(0, 0, 0, 0.25)
        position relative
        &__img
            display none
        @media only screen and (min-width : 768px)
            width: 50%
            height 68%
            &__img
                position absolute
                top 25%
                display block
                width 190%
        @media only screen and (min-width : 1200px)
            width 50%
            height 72%
            margin-left 12.5%
            &__img
                top 0
                left 0
                width 134%