.btn
    user-select none
    width: auto
    &--theme
        font-size 12px
        font-weight 500
        letter-spacing 0.6px
        &-blue
            background-color $color-blue
            color $color-white
        &-white
            background-color $color-white
            color $color-primary
        &-transparent
            background-color transparent
            color $color-primary
        &-gray
            border: 1px solid #dadada
            background-color: transparent
            color: #595959
        &-card
            padding: 13px 43px
            line-height: 1
            font-weight: 500
            background-color $color-blue
            color #ffffff
        &-contact-pop
            background-color: transparent
            font-size: 12px
            border: 1px solid #528be6
            color: #528be6
            font-weight: 500
            @media only screen and (min-width: 768px)
                line-height: 1
                padding: 12px 0
                font-size: 14px
                width: 174px
        &-reg-pop
            padding: 8px 14px
            margin-right: 20px
            font-size: 12px
            background-color $color-blue
            color $color-white
            @media only screen and (min-width: 768px)
                line-height: 1
                padding: 12px 0
                font-size: 14px
                width: 174px
    &--login
        background-color transparent
        color $color-primary
        padding 6px 10px
        line-height 1
        border 1px solid $color-primary
        &:hover
            border 1px solid $color-primary
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17)
    &--reg-header
        box-shadow 0 5px 7px rgba(0, 0, 0, 0.17)
        padding 7px 10px
        line-height 1
        background-color $color-blue
        color $color-white