.caption
    &--technology
        font-size: 18px
        color: $color-blue
        margin-bottom: 40px
        text-align: center
    &--experts
        background-color transparent
        box-shadow: none
    &-lines
        &__firs-item:before, 
        &__last-item:before
            content: ""
            position: absolute
            width: 20px
            height: 2px
            top: calc(50% - 1px)
        &__firs-item:before 
            background-color: #3a3a3c
            left: -30px
        &__last-item:before
            background-color: #528be6
            right: -30px
    &--experts
        margin-bottom: 20px
        &.wrap-caption
            height auto
        .caption-menu
            @media only screen and (min-width : 768px)
                text-align: left
                font-size: 35px
            @media only screen and (min-width : 962px)
                font-size: 45px
        .caption-lines
                &__firs-item, 
                &__last-item
                    &::before
                        @media only screen and (min-width : 768px)
                            width: 40px
                            height 4px
                &__firs-item:before
                    @media only screen and (min-width : 768px)
                        left: -50px
                &__last-item:before
                    @media only screen and (min-width : 768px)
                        right: -50px
.wrap--caption-lines-last
    display inline-block
    @media only screen and (min-width : 768px)
        display block