.wrap-question--faq
    position relative
    &:before
        content: ""
        position: absolute
        height: 1px
        background-color: #cdd1d7
        bottom: 0
        width: 100%
        left: 0
        @media only screen and (min-width : 992px) 
            width: calc(100% - 15px)
            left 15px