.footer
    height 100px
    display: flex
    justify-content: center
    align-items: center
    &__desc
        font-size: 1.4rem
        color: $color-light-gray
    @media only screen and (min-width : 768px)
        height 120px
            &__desc
                font-size: 1.8rem
    @media only screen and (min-width : 1200px)
        height 180px
    &--social
        height auto
        background-color #fbfbfb
        margin-top 20px
        padding-top 20px
        padding-bottom 20px
        @media only screen and (min-width : 768px)
            margin-top 50px
        @media only screen and (min-width : 992px)
            margin-top 80px
        @media only screen and (min-width : 1200px)
            padding-top 20px
            padding-bottom 20px
            margin-top 40px