.header
    position fixed
    width 100%
    z-index 506
    height 51px
    display flex
    align-items center
    border-bottom 1px solid #d2d2d2
    background-color #fff
    &__main
        width 100%
        display flex
        justify-content space-between
        padding 0 15px
        align-items center
        @media only screen and (min-width : 768px)
            padding 0 30px
    &--open-menu
        opacity 1
        border-color transparent
        background-color transparent
    &--faq
        padding-left 15px
        padding-right 15px
        padding-top 10px
        padding-bottom 10px
        @media only screen and (min-width : 768px)
            padding-top 15px
            padding-bottom 15px
            justify-content center