.humb
    display flex
    flex-direction column
    align-items flex-end
    justify-content space-between
    position relative
    height 32px
    width 30px
    padding 10px 0 10px 10px
    user-select none
    outline none
    cursor pointer 
    &__item
        display block
        width 100%
        height 2px
        background-color #000
        &:nth-of-type(2)
            width 50%
    &--active 
        .humb__item
            opacity: 1
        .humb__item
            transform: translateX(0px)
    &--open-menu
        transition:transform .2s ease
        .humb
            &__item
                transition: transform 0.2s linear !important
                &:nth-child(1) 
                    background-color: #528be6
                    transform: rotate(-45deg) translate(-5px, 1px)
                &:nth-child(2) 
                    visibility: hidden
                &:nth-child(3) 
                    background-color: #528be6
                    transform: rotate(45deg) translate(-6px, -2px)
    &-anim
        .humb
            &__item
                &:nth-of-type(1)
                    transition:transform .2s cubic-bezier(0.490, 1.530, 1, 1)
                &:nth-of-type(2)
                    transition:transform .2s cubic-bezier(0.490, 1.530, 1, 1) .1s
                &:nth-of-type(3)
                    transition:transform .2s cubic-bezier(0.490, 1.530, 1, 1) .2s
