[class^="icon-"], [class*=" icon-"]
    &:before
        font-family: 'icomoon' !important
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
.icon
    &-menu_close
        &:before
            content: "\e900"
    &-partnership
        &:before
            content: "\e909"
    &-mail
        &:before
            content: "\e908"
    &-attach
        &:before
            content: "\e907"
    &-facebook
        &:before
            content: "\e901"
    &-facebook_landing
        &:before
            content: "\e902"
    &-instagram
        &:before
            content: "\e903"
    &-linkedin-landing
        &:before
            content: "\e904"
    &-Telegram_landing
        &:before
            content: "\e905"
    &-VK
        &:before
            content: "\e906"
    &-youtube
        &:before
            content: "\e90a"
    &-Close
        &:before
            content: "\e90b"
    &-check_mark
        &:before
            position relative
            top 1px
            content: "\e90c"
    &--blue
        &:before
            color: $color-blue
    &--margin
        &-r
            &-10
                &:before
                    margin-right: 10px
    &--size
        &-14
            &:before
                font-size: 14px