.input{
	width: 100%;
	border:1px solid #cdd1d7;
	padding: 9.5px 17px;
	line-height: 1;
	font-size:14px;
	color: #3a3a3e;
}
.textarea{
	width: 100%;
	border:1px solid #cdd1d7;
	padding: 10px 17px;
	font-size:14px;
	min-height: 80px;
	color: #3a3a3e;
	resize: none;
	outline: none;
}
input[type="file"] {
	display: none;
}
#lable-file {
	position: relative;
	padding-left: 25px;
	display: block;
	margin-bottom: 10px;
	line-height: 1;
}
#lable-file:before {
	display: block;
	font-family: 'icomoon' !important;
	content: '\e907';
	position: absolute;
	font-size: 20px;
	color: #528be6;
	margin-right: 10px;
	left: -10px;
}
@media only screen and (min-width : 1170px) {
	.input--contact{
		width: 350px;
	}
	#lable-file{
		display: inline;
	}
	.textarea{
		min-height: 140px;
	}
}
@media only screen and (min-width: 768px) and (max-width:  1169.9px) and (orientation: landscape) {
	.input--contact{
		width: 350px;
	}
	#lable-file{
		display: inline;
	}
	.textarea{
		min-height: 140px;
	}
}