.main-plreloader
    width: 100%
    height 100%
    z-index 5000
    position fixed
    top: 0
    left 0
    background-color #fff
    opacity 1
    transition: opacity 0.5s linear, left 0s linear 0.5s
    &--load
        opacity 0
        left -100%