.main-line-item
    display: none
    visibility hidden
    @media only screen and (min-width : 1024px)
        visibility visible
        display block
        top 0
        z-index 10
        position absolute
        height 100%
        width 1px
        background-color #3a3a3c
        opacity 0.1
        &-1
            left 12.5%
        &-2
            left 25%
        &-3
            left 37.5%
        &-4
            left 50%
        &-5
            left 62.5%
        &-6
            left 75%
        &-7
            left 87.5%
