.menu-humb
    position fixed
    z-index 503
    width 100%
    background-color #f3f3f3
    height 100%
    top 0
    right 0
    transform: translateX(-100%)
    opacity: 0
    transition opacity 300ms linear, transform 0s linear 300ms
    display flex
    flex-direction: column
    &--show
        transform: translateX(0)
        opacity: 1
        transition: opacity 300ms linear, transform 0s linear 0s
    &__container
        padding 70px 0 30px 0
        height 66%
        display flex
        flex-direction column
        align-items center
        justify-content center
        position relative
        background-image url(../../public/img/logo_large-white.svg)
        background-repeat no-repeat
        background-position center
        background-size 85%
        @media only screen and (min-width : 768px)
            height 77%
            padding-top 75px
            padding 70px 0 30px 0
            background-position-x center
            background-position-y 64%
            background-size 90%
    &__wrap-control
        display flex
        flex-direction: column
        height auto
        flex: 1
        @media only screen and (min-width : 1200px)
            display none
    &__line-menu
        width: 100%
        height: 1px
        background-color: #d2d2d2
        position absolute
        &--top
            top 50px
        &--bottom
            top 0
        &--bottom-0
            bottom 0
        &--center
            top 50%
        &--black
            height 1px
            width 0px
            background-color #000
    &__list
        @media only screen and (min-width : 768px)
            height 100%
            padding 80px 0
            display flex
            flex-direction column
            justify-content center
        &-item
            text-align center
            padding 24px 0 10px
            &:nth-of-type(1)
                padding-top 0
            &:last-child
                padding-bottom: 0
            &:hover
                border-color: #528be6
        &-link
            text-transform: uppercase
            display: block
            color: #3a3a3c
            font-weight: 700
            font-size: 1.4rem
            line-height: 1.2
            letter-spacing: 0.7px
            text-decoration: none
            &:hover
                color: #528be6
                text-decoration: none
            @media only screen and (min-width : 768px)
                font-size: 30px
                letter-spacing: 1.5px
    &__block-btn
        display flex
        flex-wrap: wrap
        justify-content: center
        padding: 20px 0
        position: relative
    &__wrap-btn
        width: 100%
        display: flex
        justify-content: center
        margin-bottom: 30px
        @media only screen and (min-width : 768px)
            margin-bottom: 50px
    &__contact-us
        display: flex
        align-items: center
        &__item
            font-size: 1rem
            display: inline-block
            font-weight: 500
            color: #3a3a3c
            letter-spacing: 0.5px
            position: relative
            padding-left: 60px
            &:before
                content: ""
                position: absolute
                height: 1px
                width: 19px
                top:calc(50% + 1px)
                left: 20px
                background-color: #3a3a3c
            &-icon
                display: inline-block
                font-size: 20px
    &__btn
        &-reg,&-log-in
            padding 6px 10px
            font-size 12px
            letter-spacing .6px
            font-size 12px
            line-height 1
            font-weight 500
        &-reg
            margin-right 10px
    &__wrap-social
        flex 1
        display flex
        flex-direction column
        justify-content center
        align-items center
        @media only screen and (min-width : 962px)
            display none
    &__social
        width 250px
        display flex
        justify-content space-between
        &-item
            line-height 1
        &-link
            font-size 20px
            color #000