.nav-social
    display none
.nav-social-footer
	margin-left: 12.5px
	margin-right: 12.5px
	margin-bottom: 0
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0
.nav-social-footer__link
	color: #b8bec7
	font-size: 16px
@media only screen and (min-width : 768px)
	.nav-social-footer__link
		font-size:20px
		display: block
		width: 20px
		height: 20px
		text-decoration: none !important
	.nav-social-footer__link:hover
		color: #528be6
@media only screen and (min-width : 962px)
	.nav-social
		display block
		z-index: 505
		position: fixed
		top: 50%
		transform: translateY(-50%)
		right: 30px
	.nav-social__item
		margin-bottom: 10px
	.nav-social__item:last-child
		margin-bottom: 0
	.nav-social__link,.social-menu__link
		font-size:2rem
		color: #d3d3d3
		display: block
		width: 2rem
		height: 2rem
		text-decoration: none !important
	.nav-social__link:hover,.social-menu__link:hover
		color: $color-primary