.navigation-header
    display none
    @media only screen and (min-width : 1200px)
        display flex    
        &__item
            margin-right 15px
            margin-left 15px
        &__link
            color $color-blue
            font-size 12px
            font-weight 500
            text-transform uppercase
    @media only screen and (min-width : 1649px)
        &__link
            color $color-blue
            font-size 14px
            font-weight 500
            text-transform uppercase
