
.register{
  padding:20px 20px;
  display: none;
  overflow: hidden;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  height:5000px;
}
.show-form{
  display: flex !important;
}
.show-pop-up{
  display: block !important;
}
.register__form{
  height: 130vh;
}
.wrap-form{
  overflow-y: scroll;
  height: 100vh;
}
.disabled-btn {
    background-color: #cbdcf7 !important
}
.who_are_you--link{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    text-decoration: none;
  }
}
@media only screen and (min-width : 768px) {
  .register{
    padding:40px 20px;
    display: none;
    position: relative;
    right: -300px;
    width: 300px;
  }
  .wrap-form{
    position: relative;
    overflow: visible;
  }
  .register__form{
    height: auto;
  }
}
.who_are_you{
  width: 100%;
  height: 40px;
  color: #528be6;
  background: #fff;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #528be6;
  outline: none;
}
.who_are_you:hover {
    background: #528be6;
    color: #fff;
}
.line-reg{
  transform: translate(-50%);
  margin-top: 30px;
  margin-bottom: 20px;
  background: #cdd1d7;
  width:250%;
  height: 1px;
}
.close-form{
  width: 15px;
  height: 15px;
  display:inline-block;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}
.close-form:before, .close-form:after{
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #261c0d;
  left: 0;
  top: 7px;
}
.email-send{
  width: 95px;
}
.close-form:before{
  transform: rotate(45deg);
}
.close-form:after{
  transform: rotate(-45deg);
}
.close-form--menu{
  display:block;
}
.warn{
  border-radius: 50%;
  background-color: #cd4263;
  display:inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top:3px;
}
.warn:before{
  content: "!";
  color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(-1) translate(50%,43%);
}
.arrow-back{
  width: 15px;
  height: 13px;
  display:block;
  padding: 10px 10px 10px 0;
  box-sizing: content-box;
}

.pop-up-form{
  padding: 0 5%;
  height: calc(100% - 232px);
  overflow-y: auto;
}
.pop-up-form--cont{
  height: auto;
  overflow: visible;
}
.btn.submit-popup{
  padding: 13px 23px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
}
.checkbox{
  display: none;
}
.checkbox-custom{
  width: 20px;
  height: 20px;
  border: 1px solid #cdd1d7;
  background-color: #edf0f5;
  position: relative;
}
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.contact-us-wrap,.partners-us-wrap{
  display: none;
  visibility: hidden;
}
.checkbox:checked + .checkbox-custom::before{
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  content: "\2713";
  color: #fff;
  background-color:#528be6;
  font-size: 20px;    
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + .radio-lable, 
input[type="radio"]:not(:checked) + .radio-lable {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="radio"]:not(:checked) + .radio-lable:after {
    opacity: 0;
}

input[type="radio"]:checked + .radio-lable:after {
    opacity: 1;
}
input[type="radio"]:checked + .radio-lable:before, 
input[type="radio"]:not(:checked) + .radio-lable:before {
    content: "";
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 2px solid #528be6;
    background-color: #ffffff;
}

input[type="radio"]:checked + .radio-lable:before, 
input[type="radio"]:not(:checked) + .radio-lable:before {
    border-radius: 100%;
}
input[type="radio"]:checked + .radio-lable:after, 
input[type="radio"]:not(:checked) + .radio-lable:after {
    content: ""; 
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + .radio-lable:after, 
input[type="radio"]:not(:checked) + .radio-lable:after {
    left: 3px;
    top: 3px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #528be6;
}
.radio-lable{
  font-size: 14px;
  color: #3a3a3c;
}
.wrap-radio{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.wrap-radio--margin{
  margin-bottom: 20px;
}

.pop-up{
  border-radius: 5px;
  margin: auto;
  opacity: 1;
  display: none;
  width: 90%;
  height: 100%;
  max-width: 440px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.pop-up--contact{
  width: 100%;
  border-radius: 0;
}
.pop-up-send-mes{
  height: auto;
}
.pop-up-send-mes .wrap-form-cont{
  height: auto;
}
/******************* COMBOBOX *****************/
.combobox{
  width: 100%;
  height: 40px;
  border: 1px solid #cdd1d7;
  position: relative;
  z-index: 2;
}
#comboComp{
  display: block;
}
.combobox-active{
  display: flex;
}

.but-file {
  display: inline-block;
  border: 1px solid #528be6;
  min-height: 20px;
  min-width: 120px;
  color: #528be6;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
}
.comb-open{
  z-index: 3;
}
.comb-open .cust-li{
  display: block;
  padding: 0
}
#rd1 ~ .commbobox-val{
  display: none;
}
#rd1 ~ .commbobox-val + .combobox{
  display: none;
}
#rd1:checked ~ .combobox-val + .combobox,
#rd1:checked ~ .commbobox-val{
  display: block;
}
#rd1:checked ~ #combo{
  display: block;
}
#rd1:checked ~ #combo2{
  display: block;
}
.input-your-option{
  margin-top:10px;
  display: none;
}
#rd9:checked ~ .input{
  display: block;
}

.combobox:before,.combobox:after{
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #9f9e9e;
}
.combobox:before{
  right: 10px;
  top: 50%;
  transform: translateY(-100%) rotate(-45deg);
}
.combobox:after{
  top: 50%;
  right: 14px;
  transform: translateY(-100%) rotate(45deg);
}
.cust-li{
  display: none;
  width: calc(100% + 2px);
  top:38px;
  left: -1px;
  border: 1px solid #cdd1d7;
  border-top-color: #fff;
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
}
.cust__item{
  padding: 10px 15px;
  cursor: pointer;
  color: #3a3a3c;
  font-size: 14px;
}
.cust__item:hover{
  background-color: #f4f6f9;
}
.commbobox__input{
  width: 100%;
  padding: 10px 25px 10px 15px;
  color: #3a3a3c;
  font-size: 14px;
  height: 100%;
  border: none;
  cursor: pointer;
}
.bnt-close-form{
  margin-right: 40px;
  cursor: pointer;
}
.no-valid{
  border-color: red !important;
}
.wrap-form-cont{
  height: calc(100% - 118px);
  overflow-y: scroll;
}
.list-address{
  width: 100%;
}
.list-address__item{
  font-size: 14px;
  line-height: 1.4;
  color: #6e6e7d;
}
.list-address-caption{
  color: #3a3a3c;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.pop-up-adv{
 width: 100%;
}
@media only screen and (min-width : 768px) {
  .pop-up{
    width: 100%;
    height: auto;
  }
  .pop-up--contact{
    border-radius: 5px;
  }
  .pop-up-form{
    padding: 0 45px;
  }
  .wrap-form-cont{
    height: auto;
  }
  .list-address{
    width: 50%;
  }
}
@media only screen and (max-height : 640px){
  .pop-up-adv{
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width:  1169.9px) and (orientation: landscape) {
  .pop-up--contact{
    max-width: 810px;
  }
  .combobox--contact{
    margin-bottom: 10px;
    width: 350px;
  }
  .pop-up-form--cont{
    height: 170px;
    margin-bottom: 60px;
  }
  .btn.submit-popup{
    width: 120px;
  }
  .contact-us-wrap,.partners-us-wrap {
    z-index: 501;
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    transform: rotate(-90deg);
    display: flex;
    width: 188px;
    align-items: center;
    color:#3a3a3c;
    position: absolute;
    right: -55px;
    bottom: 110px;
  }
  .partners-us-wrap {
    left: -55px;
    right: auto;
  }
  .contact-us__item{
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
    color: #3a3a3c;
    letter-spacing: 0.6px;
    position: relative;
    padding-left: 60px;
  }
  .contact-us__item:before{
    content: "";
    position: absolute;
    height: 1px;
    width: 19px;
    top: 50%;
    left: 20px;
    background-color: #3a3a3c;
  }
  .contact-us__item-icon{
    display: inline-block;
    font-size: 20px;
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 1170px){
  .bnt-back-form{
    cursor: pointer;
  }
  .contact-us-wrap,.partners-us-wrap {
    z-index: 501;
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    transform: rotate(-90deg);
    display: flex;
    width: 188px;
    color:#3a3a3c;
    align-items: center;
    position: absolute;
    right: -55px;
    bottom: 110px;
  }

  .contact-us-wrap:hover .contact-us__item:before,
  .partners-us-wrap:hover .contact-us__item:before{
    background-color: #528be6;
    text-decoration: none;
  }
  .contact-us-wrap:hover,
  .partners-us-wrap:hover{
    color: #528be6;
    text-decoration: none;
  }
  .partners-us-wrap {
    left: -55px;
    right: auto;
  }
  .contact-us__item{
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
    color: inherit;
    letter-spacing: 0.6px;
    position: relative;
    padding-left: 60px;
  }
  .contact-us__item:before{
    content: "";
    position: absolute;
    height: 1px;
    width: 19px;
    top: 50%;
    left: 20px;
    background-color: #3a3a3c;
  }
  .agreement{
    cursor: pointer;
  }
  .contact-us__item-icon{
    color: inherit;
    display: inline-block;
    font-size: 20px;
    transform: rotate(90deg);
  }
	.wrap-form-cont{
    overflow: visible;
  }
  .pop-up--contact{
    max-width: 810px;
  }
  .pop-up-form--cont{
    height: 160px;
    margin-bottom: 60px;
  }
  .btn.submit-popup{
    width: 120px;
  }
  .combobox--contact{
    margin-bottom: 10px;
    width: 350px;
  }
}
@media only screen and (min-width: 1600px){
  //.contact-us-wrap{
    //top:calc(35% + 104px);
  //}
}
