.section
    height 100vh
    position relative
    &--h-auto
        height auto
    @media only screen and (min-width : 768px)
        &--md
            &-h
                &-100
                    height 100vh
                &-auto
                    height auto
    @media only screen and (min-width : 1200px)
        &--xl
            &-h
                &-100
                    height 100vh
                &-auto
                    height auto
        
