.slider-platform
    height calc(100% - 41px)
    &__content
        order: 1
        padding-top 15px
        overflow hidden
        height 78%
    &__workspace
        margin-top -15px
        margin-bottom -15px
        position relative
        will-change transform
    &__item
        opacity 0.8
        color #ffffff
        font-size 1.2rem
        line-height 1.3
        position relative
        padding-left: 30px
        margin-bottom: 15px
        margin-top: 15px
        transition: transform 0.5s linear 0.1s
        // &--active
        //     opacity 1
        //     font-weight 500 !important
        //     color: #ffffff
        //     transform: translateX(-25px)
        //     &:before,&:after
        //         opacity 0 !important
        &:before
            content ''
            position absolute
            width 10px
            height 2px
            opacity 0.7
            left 15px
            top 6px
            background-color #ffffff
            transition: opacity 0.5s
        &:after
            content attr(data-title)
            position absolute
            left 0
            top -2px
            font-size 18px
            opacity 0.7
            color #ffffff
            font-weight 700
            transition: opacity 0.5s
    &__wrap-btn
        display flex
        justify-content space-between
        height 22%
    &__btn-next,&__btn-prev
        position relative
        cursor pointer
        width 35px
        height 35px
        &:before
            content ''
            position absolute
            width 1px
            height 50%
            background-color #A8C5F2
    &__btn-prev
        border-right 1px solid #A8C5F2
        border-bottom 1px solid #A8C5F2
        transform: rotate(-90deg)
        &--img
            transform rotate(90deg)
            color #fff
        &:before
            left 0
            bottom 0
    &__btn-next
        border-top 1px solid #A8C5F2
        border-left 1px solid #A8C5F2
        transform: rotate(-90deg)
        &--img
            transform rotate(-90deg)
            color #fff
        &:before
            right 0
            top 0
@media only screen and (min-width : 768px)
    .slider-platform
        &__content
            flex: 1
        &__workspace
            margin-top -15px
        &__content
            margin-top 40px
            margin-bottom 40px
            padding 0
            height calc(100% - 80px)
            padding-left 25px
        &__item
            font-size 1.8rem
            line-height: 2.2rem
            padding-left: 45px
            &--active
                opacity 1
                font-weight 500 !important
                color: #ffffff
                transform: translateX(-25px)
                font-size: 2.2rem
                line-height: 2.6rem
                &:before,&:after
                    opacity 0 !important
            &:before
                top 12px
                left 22px
            &:after
                top: 0
                font-size 1.8rem
        &__wrap-btn
            order: 1
            flex-direction: column
            height auto
        &__btn-prev,&__btn-next
            transform: none
@media only screen and (min-width : 1200px)
    .slider-platform
        &__workspace
            margin-top -15px
            height 100%
        &__content
            margin-top 40px
            margin-bottom 90px
            padding 0
            height calc(100% - 130px)
            padding-left 34px
        &__item
            opacity 0.8
            color #ffffff
            font-size 2rem
            line-height: 2.4rem
            position relative
            padding-right 15px
            &:before
                content ''
                position absolute
                width 10px
                height 2px
                opacity 0.7
                left 15px
                top 1rem
                background-color #ffffff
            &:after
                content attr(data-title)
                position absolute
                left 0
                font-size 18px
                opacity 0.7
                color #ffffff
                font-weight 700
        &__wrap-btn
            display: flex
            justify-content space-between
            flex-direction column
        &__btn-next,&__btn-prev
            padding 15px 10px
            position relative
            cursor pointer
            width 45px
            height 45px
            &:before
                content ''
                position absolute
                width 1px
                height 50%
                background-color #A8C5F2
        &__btn-prev
            border-right 1px solid #A8C5F2
            border-bottom 1px solid #A8C5F2
            &--img
                transform rotate(90deg)
                color #fff
            &:before
                left 0
                bottom 0
        &__btn-next
            border-top 1px solid #A8C5F2
            border-left 1px solid #A8C5F2
            &--img
                transform rotate(-90deg)
                color #fff
            &:before
                right 0
                top 0
@media only screen and (min-width : 1599px)
    .slider-platform
        &__content
            margin-top 40px
            margin-bottom 100px
            height calc(100% - 140px)
        &__item
            font-size 1.6rem
            line-height: 1.8rem
            &--active
                opacity 1
                font-weight 500 !important
                color: #ffffff
                transform: translateX(-25px)
                font-size: 1.8rem
                line-height: 2rem
                &:before,&:after
                    opacity 0 !important
@media only screen and (min-width : 1919px)
    .slider-platform
        &__content
            margin-top 80px
            margin-bottom 130px
            height calc(100% - 200px)