paddingTabMob = 8px 12px
sizeTabExpertMob = 12px
marginXcTabMob = 5px

paddingTab = 9px 15px
sizeTabExpert = 16px 
marginXcTab = 5px
.tab
    &-experts
        display flex
        justify-content center
        max-width 100%
        flex-wrap: wrap
        margin-bottom: 40px
        &-item
            margin marginXcTabMob

        &-btn
            color $color-blue
            padding paddingTabMob

            font-size sizeTabExpertMob
            border 1px solid $color-blue
            @media only screen and (min-width : 962px)
                color $color-blue
                padding paddingTab
                margin marginXcTab
                font-size sizeTabExpert
            &:hover,&.tabs-btn--active
                color: #fff
                background-color $color-blue
.tabs-block
    &--active
        display flex !important