.vertical-tab
    &__caption
        display: flex
        justify-content: space-between
        align-items: center
        font-weight: 500
        font-size: 14px
        line-height: 16px
        color: #3a3a3c
        position: relative
        padding-top 20px
        padding-bottom 20px
        padding-right 40px
        cursor pointer
        &:after
            content: ""
            position: absolute
            display: block
            right: 5px
            top: 50%
            width: 20px
            height: 15px
            transform: rotate(0deg) translateY(-50%)
            background: url(../../public/img/drop.svg) center no-repeat
            transition: transform 0.5s linear
        @media only screen and (min-width : 768px)
            font-size: 16px
            line-height: 20px
        @media only screen and (min-width : 992px) 
            font-size: 20px
            line-height: 22px
    &__desc
        opacity 0
        position absolute
        &--anim
            opacity 1
            position static
            overflow hidden
            height 0px
            transition height 1s
            will-change height
    &__desc-text
        color: #6e6e7d
        font-size: 16px
        line-height: 1.5
        font-weight: 400
        text-align: justify
    &--open.vertical-tab__caption
        &::after
            transform: rotate(180deg)