div(class="margin--b-20 width--100")
    h2.font--500.font--color-primary.font--20.font--uppercase.padding--yc-20 соискатель
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как создать свое резюме
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для создания резюме Вам необходимо после регистрации заполнить свой профиль.  При этом вверху страницы отображаются номера шагов заполнения.
                |Всего 7 Шагов: личная информация, навыки, тестирование, опыт работы, образование, локация, информация о себе.
                |Страницы "Опыт работы", "Образование", "Локация", "Информация о себе" доступны к заполнению только после сдачи теста по основному навыку на минимально допустимый балл.
                |Справа Вы сможете увидеть сайдбар, показывающий прогресс заполнения профиля.
                |Кнопка "Следующий шаг" становится активной, если все обязательные поля страницы заполнены. Обратите, пожалуйста, внимание, что все введенные данные сохраняются при переходе на Следующий Шаг. При переходе на Предыдущий Шаг введенные данные не сохраняются.
                |Ваше резюме является анонимным (без указания контактов и ФИО) при общедоступном просмотре пользователей, зарегистрированных на an.works. Ваше полное резюме становятся доступным только тем компаниям, которые открыли Ваши контакты. Никакие другие пользователи платформы не видят его.
                |При полном заполнении всех вышеперечисленных шагов регистрация считается законченной, а резюме заполненным. Кнопка "Отправить данные" активна после заполнения всех полей, обязательных к заполнению.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Когда есть возможность изменить свои данные в профиле?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Если соискатель участвует на данный момент в рейтинге, то редактирование и удаление какой бы то ни было информации невозможно.
                |Пользователь-соискатель может изменять следующую информацию, когда не находится в рейтинге:
                |- персональную информацию и контактные данные;
                |- название своей должности, основной навык, добавлять дополнительные навыки;
                |- проходить дополнительные тесты, перепроходить доступные тесты, которые уже сдавал; менять описание указанных мест работы, добавлять новые места работы, возможно изменение периода работы (при условии указания «работаю в настоящее время»).
                |- добавлять данные об образовании, менять информацию о годе окончания обучения (при условии указания «учусь в настоящее время»).
                |- данные о стране, городе текущего проживания, готовность к переезду, предпочитаемый тип работы.
                |- описания в полях "Кратко о себе", "Ожидания от будущей работы", "Достижения".
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) От чего зависит выбор рейтинга, в котором я буду участвовать
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 Выбор рейтинга зависит от выбранного основного навыка и соответствующей ему главной технологии, по которой был успешно сдан тест (набран минимально допустимый балл).
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Кто может видеть мое полное резюме
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Полное резюме доступно только тем компаниям, которые открыли Ваши контакты. Никакие другие пользователи платформы не могут его просмотреть.
                |Для них Ваше резюме является анонимным (без указания контактов и ФИО).
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как мне попасть в рейтинг?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Если Вы только создали кабинет, сперва вам необходимо заполнить полностью свое резюме: 7 шагов, на каждом из которых заполнить все обязательные поля. Нажать Кнопку "Отправить данные"
                |Если ваш кабинет уже заполнен, или у вас закончился срок прибывания в списке ожидания, и вы хотите начать участие в рейтинге, в правом сайдбаре личного кабинета или на странице Рейтинга доступна кнопка "Приступить". Вам необходимо указать уровень желаемой ЗП (значение должно  быть меньше 1000 USD) и через сколько дней вы готовы приступить к работе с даты получения предложения.  После этого в течении 2-х рабочих часов по Киевскому времени Вы становитесь участником рейтинга по основному навыку (соответствующей ему технологии).
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) От чего зависит рейтинговая позиция
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Рейтинговая позиция рассчитывается по каждому соискателю на основании количества тестов, количества баллов.
                |Вес той или иной оценки за тест зависит от выбранной технологии рейтинга.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как можно повысить свой рейтинг?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для того чтобы получить максимальный балл до начала участия в рейтинге, Вам необходимо пройти все тесты, которые предлагает сервис после выбора основного навыка.
                |Обратите внимание, что находясь в рейтинге, нет возможности проходить дополнительные тесты и перепроходить доступные тесты, которые уже сдавали.
                |Соискатель участвует в рейтинге 4 недели, после чего выбывает из него, попадая в список ожидания на 1 месяц.
                |А затем он может пройти тесты по интересующим технологиям заново.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Сроки нахождения в рейтинге
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Соискатель может находиться в рейтинге не более 1 месяца, его контакты могут быть открыты не более 5 раз.
                |Если контакты соискателя были открыты 5 раз или срок нахождения в рейтинге более 30 дней, соискатель попадает в список ожидания на 1 месяц.
                |Если контакты были открыты менее 5 раз, но соискатель участвует в рейтинге уже 4 недели, то он также попадает в список ожидания на 1 месяц.
                |Если соикатель отметил что он был нанят, он завершает свое участие в рейтинге.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Меня наняли не через An.Works, как об этом сообщить?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
            |Вам необходимо зайти в свой кабинет на страницу «Статистика» и поменять статус на "Нанят не через платформу AN.WORKS".
            |После чего Вы переноситесь в список ожидания на 1 месяц.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Можно ли изменить свой основной навык?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Поменять специализацию по основному тесту соискатель может только тогда, когда находится в списке ожидания 1 месяц и не находится в рейтинге.
                |В таком случае соискатель может перейти на страницу «Навыки» в своем профиле и изменить свой основной навык, после чего сдать тест по выбранной технологии.
                |Если соискатель сдал главный тест по основной технологии менее минимально допустимого балла, соискатель также имеет возможность изменить основной навык, после чего сдать тест по другой технологии.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как долго действительны результаты тестов?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |По условиям использования платформы an.works результат теста действителен не более 6 месяцев.
                |По истечении этого срока такой результат не будет учитываться в расчете рейтингового балла.
                |Если результат теста по основному навыку больше не действителен, соискатель не может начать участие в рейтинге.
                |Соискатель может пересдать любой тест через 2 месяца с даты последней сдачи теста
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Когда можно пройти заново тест, результат которого меня не устраивает?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Соискатель может пройти заново любой тест через 2 месяца.
                |Учитывается последний результат теста.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Что делать, если я не набрал минимального балла по основному тесту?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Вы может пройти заново любой тест через 2 месяца. Либо вы может перейти на страницу «Навыки» в своем профиле и изменить свой основной навык, после чего сдать предложенный основной тест по выбранной технологии.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Правила прохождения тестов
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |1. Соискатель выбирает на странице «Навыки» должность и основной навык, согласно которым проходит главный тест по основной технологии.
                |2. У пользователя есть возможность пройти дополнительные тесты. Все тесты, доступные к прохождению, делятся на 5 диапазонов.
                |По 1-му диапазону - 1 тест, по 2-му диапазону - учитывается 4 максимальных результата, по 3-му и 4-му диапазонам учитывается по 6 максимальных результатов.
                |3. Пересдача теста возможна через 2 месяца со дня сдачи данного теста.
                |4. Результат теста действителен 6 месяцев со дня сдачи теста.
                |5. Если соискатель сдал главный тест по основной технологии менее минимально допустимого балла, у соискателя есть возможность перейти на страницу "Навыки" и изменить основной навык, после чего сдать тест по другой технологии.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Почему Вы попали в список ожидания и сколько будете в нем находиться
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Вы можете находиться в списке ожидания по следующим причинам:
                |1. Ваши контакты были открыты 5 раз;
                |2. Вы участвовали в рейтинге 4 недели, и Ваши контакты были открыты менее 5 раз;
                |3. Вы были наняты на работу
                |Срок пребывания в списке ожидания – 1 месяц.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Окончен срок нахождения в списке ожидания, что необходимо сделать чтоб попасть в рейтинг?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Если у вас закончился срок прибывания в списке ожидания,
                |и вы хотите начать участие в рейтинге, в правом сайдбаре личного кабинета или на странице Рейтинга доступна кнопка "Приступить". Вам необходимо указать уровень желаемой ЗП (значение должно  быть меньше 1000 USD) и через сколько дней вы готовы приступить к работе с даты получения предложения.  После этого в течении 2-х рабочих часов по Киевскому времени Вы становитесь участником рейтинга по основному навыку (соответствующей ему технологии).
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Кто и в какие сроки должен сообщить о факте найма
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для корректной работы сервиса в соответствии с условиями его использования в течение 1 недели с момента открытия контакта соискатель должен дать отклик о факте найма по данной компании. Через 1 неделю после открытия контакта система предлагает соискателю заполнить данные о факте найма. Соискатель указывает статус переговоров о найме («нанят», «не нанят», «в процессе обсуждения»). Если выбран статус "В процессе обсуждения", то через 1 неделю система предлагает соискателю перезаполнить данные о факте найма.  В таком случае соискатель выбирает статус из «нанят», «не нанят».
                |Соискателю блокируется возможность просматривать любые страницы профиля до сообщения отклика о факте найма.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Почему профиль заблокирован и нет возможности авторизоваться
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Ваш профиль заблокирован в связи с невыполнением пользовательского соглашения, условия которого Вы приняли. Если Вы заинтересованы в дальнейшем использовании платформы, вы можете написать в техподдержку для уточнения дальнейших действий.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Что делать, если страницы Вашего профиля заблокированы
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Страницы Вашего профиля заблокированы в связи с тем, что Вы не дали отклик о факте найма по данной компании. Для отклика Вам необходимо указать статус переговоров о найме: «нанят», «не нанят», «в процессе обсуждения». Если выбирается статус «в процессе обсуждения», то через 1 неделю система предлагает соискателю перезаполнить данные о факте найма. В таком случае соискатель выбирает статус из «нанят», «не нанят».
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Фотография профиля: правила и условия. Добавление и изменение фотографии в профиле
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Мы предоставляем Вам возможность добавить в свой профиль фотографию, чтобы она была использована для полного резюме. Вы можете добавить или изменить фотографию в своем профиле An.WORKS, если Вы не находитесь в рейтинге.
                |Фотография может быть удалена нами, если на ней не изображено Ваше лицо. Ниже представлены примеры фотографий, которые не следует использовать:
                |- эмблемы компаний;
                |- пейзажи;
                |- животные;
                |- слова или выражения.
                |Все фотографии должны соответствовать условиям Пользовательского соглашения An.WORKS. В случае удаления фотографии Вы сможете загрузить другой снимок.
                |Если фотография будет удалена 3 раза, Вы больше не сможете загружать фотографии в свой профиль.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как расчитывается рейтинговый балл
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для каждого пула рейтинга тесты делятся на 5 диапазонов. Для каждого диапазона устанавливается свой весовой коэффициент для каждого пула:
                |главный тест по технологии ( 1 тест)
                |основные тесты по технологии (в расчете учитываются первые 4 максимальных результатов)
                |теста по дополнительным навыкам, релевантным технологии ( в расчете учитываются первые 6 максимальных результатов)
                |теста по дополнительным навыкам, не релевантным технологии (в расчете учитываются все которые пользователь сдал )
                |теста по языкам
                |RB = R1*K1
                |+K2*(R2.1*0.65
                |+R2.2*0.25+R2.3*0.1
                |+R2.4*0.05)+K3*
                |(R3.1*0.6+
                |R3.2*0.2+R3.3*0.1
                |+R3.4*0.05+
                |R3.5*0.03
                |+R3.6*0.02)+
                |+K4*∑(Kf*Rn4*1/2N4 )
                |+K5*∑(Klang*R5i)
                |Где RB - рейтинговый балл. Максимальное значение рейтингового балла = Q  (например 100);
                |R - результат теста. Максимальное значение результата  теста = F (например 100). ;
                |N - количество тестов в системе, релевантных данному пулу в соответствующем диапазоне (1-4), или языку;
                |К1, К2, К3, К4, К5 - весовые коэффициенты устанавливаются для каждой технологии рейтинга с точностью до 0,0001.