div(class="margin--b-20 width--100")
    h2.font--500.font--color-primary.font--20.font--uppercase.padding--yc-20 работодатель
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Когда есть возможность изменить данные в профиле компании?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Данные в профиле компании главный рекрутер может изменить в любой момент.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Может ли компания добавить или сменить главного рекрутера в своем кабинете
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Нет, компания не может поменять главного рекрутера в своем профиле.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как изменить активность дополнительных рекрутеров в кабинете компании
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для того, чтобы изменить признак дополнительного рекрутера на "неактивен", необходимо зайти на страницу "Рекрутеры" и удалить из таблицы выбранного сотрудника. Тогда его данные переносятся в "Архив". В любой момент Вы можете восстановить активность данного дополнительного рекрутера. С момента изменения признака рекрутера на "неактивен" данный рекрутер теряет возможность входа в свою учетную запись.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Как оплатить услуги за открытие контактов соискателей, участвующих в рейтинге
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Открытие контактов осуществляется за счет списания Токен с баланса компании.
                |Для зачисления Токен на баланс пользователю-работодателю необходимо произвести их покупку на странице Оплата, которая становится доступна главному рекрутеру после заполненения профиля и верификации данных.
                |Оплата производится следующим образом:
                |1) Пользователь выбирает количество Токен. Цена и сумма покупки отображается в гривне и в эквиваленте USD по курсу НБУ. Доступная валюта платежа - гривна. На сайте доступен способ оплаты банковской картой.
                |2) После указания количества Токен к оплате пользователю становится доступен виджет платежной системы.
                |3) Пользователь-работодатель указывает номер платежной карты, дату окончания срока действия карты, код безопасности, совершает оплату.
                |4) Пользователь подтверждает оплату.
                |5) После получения ответа платежной системы, что оплата прошла успешно, на баланс зачисляется оплаченное количество Токен.
                |6) После зачисления Токен на баланс компании рекрутер может выбирать соискателя в рейтинговой таблице и открывать его контакты за счет списания Токен.
                |Если у пользователя возникли сложности с оплатой, необходимо связаться с техподдержкой.  В нижней части страницы  "Оплата"  есть информационная строка: "Если у Вас есть вопросы по оплатам, свяжитесь с техподдержкой".
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) От чего зависит стоимость открытия контакта соискателя
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 |Стоимость открытия (количество Токен) контакта соискателя зависит от его рейтинговой позиции (ТОП10, ТОП20, ТОП30 и т.д.), а также количества открытий данного контакта (максимально возможное количество открытий - 5 раз).
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Где я могу найти открытые контакты соискателей
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Статистику всех открытых контактов всеми рекрутерами возможно просмотреть на странице "История наймов" в профиле компании
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Правила открытия контактов
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |1. Для того, чтобы открыть контакт, у компании на балансе должно быть достаточное количество ТОКЕН.
                |2. Выбор соискателя по интересующей технологии осуществляется на странице "Рейтинг". Возможен просмотр анонимного резюме соискателя до открытия его контактов.
                |3. Стоимость открытия контакта зависит от технологии, порядка ТОП (например, ТОП10, ТОП20 и.т.д.), количества открытий  (максимально возможное количество открытий - 5 раз).
                |4. После покупки контактов открываются вся информация о соискателе (его полное резюме) и контактные данные.
                |5. Если контактные данные были хоть раз открыты компанией, то при повторном участии соискателя в рейтинге, открытие контактов этого соискателя невозможно, главный рекрутер может просматривать по номеру ID соискателя его контактные данные в таблице "История".
                |6. Статистику открытых контактов всеми рекрутерами возможно просмотреть на странице "История наймов".
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Кто и в какие сроки должен сообщить о факте найма
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Для корректной работы сервиса в соответствии с условиями его использования пользователю-работодателю необходимо сообщить о факте найма в течение 1 недели с момента открытия контакта:
                |1. Рекрутер, который открывал контакт, указывает статус переговоров о найме (нанят, не нанят, в процессе обсуждения). Если выбран статус "В процессе обсуждения", то через 1 неделю система предлагает рекрутеру перезаполнить данные о факте найма.  В таком случае рекрутер выбирает статус из “нанят”, “не нанят”.
                |2. Если рекрутер не выбрал статус через 2 недели с даты открытия контакта, статусу автоматически присваивается значение "не нанят".
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Могут ли рекрутеры компании менять личную информацию, удалять профиль рекрутера?
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Рекрутеры компании могут изменять свою личную информацию и контактные данные, пароль для авторизации. Но у них нет возможности удалить профиль рекрутера.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab)
            |Фотография профиля: правила и условия. Добавление и изменение фотографии в профиле
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30
                |Мы предоставляем Вам возможность добавить в свой профиль фотографию, чтобы соискатели узнавали логотип компании, которая их открыла. Вы можете добавить или изменить фотографию в своем профиле An.WORKS в любой момент. Изменение фотографии после первичной верификации не отслеживается, и работодатель несет ответственность в полном обьеме за контент, изображенный на фотографии профиля.
                |При первичной верификации фотография может быть удалена нами, если на ней не изображен логотип Вашей компании. Ниже представлены примеры фотографий, которые не следует использовать:
                |- личные фотографии;
                |- пейзажи;
                |- животные;
                |- слова или выражения.
                |Все фотографии должны соответствовать условиям Пользовательского соглашения An.WORKS. В случае удаления фотографии Вы сможете загрузить другой снимок.
                |Если фотография будет удалена 3 раза, Вы больше не сможете загружать фотографии в свой профиль.