div(class="margin--b-20 width--100")
    h2.font--500.font--color-primary.font--20.font--uppercase.padding--yc-20 Управление учётной записью
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Вход и выход из учётной записи
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 Возникли проблемы с доступом к учётной записи или изменением пароля?
                |Узнайте подробнее о входе в свою учётную запись An.WORKS и о способах решения проблем с доступом к ней. 
                |Вход в учётную запись Если у вас уже есть учётная запись в An.WORKS, вы можете войти в неё со страницы https://https://private.an.works/login.
                |Введите адрес электронной почты, зарегистрированный в учётной записи An.WORKS, и пароль. Нажмите Войти. 
                |Примечание. Если у вас уже есть учётная запись и вы выполняете вход со страницы www.An.WORKS.com, не нажимайте на кнопку Присоединиться.
                |Это может привести к созданию дубликата учётной записи. Нужно просто ввести свой адрес электронной почты и пароль в верхней части страницы, а затем нажать на кнопку Войти.
                |Выход из учётной записи Нажмите на иконку Выйти в верхней части страницы An.WORKS. 
                |Если пункт Выйти не отображается, возможно, необходимо включить JavaScript в браузере.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Утрата доступа к адресу электронной почты
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 На странице Безопасность можно изменять пароль. Если вы утратили доступа к адресу электронной почты, вам необходимо связаться с техподдержкой.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Закрытие учётной записи
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 Закрытие учётной записи в кратчайшие сроки Мы сожалеем, что вы решили прекратить участие в An.WORKS.
                |Закрытие учётной записи приведёт к удалению всех ваших личных данных и подтверждений навыков, а также ваших контактов.
                |Закрытие учётной записи В результате закрытия учётной записи ваш профиль будет удалён без возможности восстановления, и вы утратите доступ ко всей своей информации на сайте An.WORKS.
                |Чтобы закрыть свою учётную запись An.WORKS напишите в техподдержку. Возникли проблемы с доступом к учётной записи, которую необходимо закрыть? 
                |Если у вас нет доступа к учётной записи, которую необходимо закрыть, узнайте, как мы можем помочь вам получить доступ к адресу электронной почты или как изменить свой пароль.
    div.padding--l-15.wrap-question--faq
        h3.vertical-tab__caption(vertical-tab) Безопасность учётной записи и конфиденциальность: советы и рекомендации
        div.vertical-tab__desc
            p.vertical-tab__desc-text.margin--b-30 Конфиденциальность участников является одним из приоритетов An.WORKS.
                |Ознакомьmargin--b-30тесь с нашей Политикой конфиденциальности. Ниже приведены некоторые рекомендации, позволяющие обеспечить безопасность вашего пароля и конфиденциальность данных.
                |Меняйте пароль через каждые несколько месяцев. Не используйте один и тот же пароль на всех веб-сайтах, которые вы посещаете.
                |Не используйте слово из словаря при создании пароля. Применяйте сложные пароли из 10 или более символов, которые нельзя будет легко угадать или подобрать.
                |Используйте любое легко запоминаемое высказывание, фразу из песни или цитату для создания сложного пароля, указав только первые буквы каждого слова.
                |Добавьте заглавные буквы, знаки препинания или символы в случайном порядке.
                |Замените буквы цифрами с похожим написанием (например, букву «о» замените цифрой «0» или букву «Е» цифрой «3»).
                |Никогда не сообщайте свой пароль другим людям и не записывайте его.
                |Всегда выходите из учётной записи, если вы использовали общедоступный компьютер.
                |Используйте возможности управления данными своей учётной записи и настройками конфиденциальности на страницеБезопасность.
                |Регулярно обновляйте антивирусное программное обеспечение.