section.section.fl.fl--align-c.index--2#function
    div.block-functional
        div.block-functional__wrap-title
            h2.block-functional__caption наши
                span.block-functional__caption-text Преимущества
        div.block-functional__desc.block-functional--company
            div.block-functional__slider
                ul.block-functional__slider-dots#func-slider-dots
                h3.block-functional__slider-caption-item Тесты
                div.block-functional__slider-wrap-item#func-slider
                    div.block-functional__slider-item.block-functional__slider-item--active(data-title="Тестирование") Тесты разрабатываются ведущими  специалистами крупнейших IT компаний Украины
                    div.block-functional__slider-item(data-title="Ratingboard") Рейтинговая таблица с возможностью выбора кандидата по технологиям, геолокации, навыкам и прочим характеристикам 
                    div.block-functional__slider-item(data-title="Параллельная работа нескольких сотрудников") Каждый рекрутер осуществляет выбор кандидата из своего личного кабинета
                    div.block-functional__slider-item(data-title="История открытых контактов") Компании доступна история взаимодействий со всеми кандидатами
            div.block-functional__wrap-caption#func-slider-caption