section.section.fl.fl--align-c.index--2#function
    div.block-functional
        div.block-functional__wrap-title
            h2.block-functional__caption наши
                span.block-functional__caption-text преимущества
        div.block-functional__desc.block-functional--applicant
            div.block-functional__slider
                ul.block-functional__slider-dots#func-slider-dots
                h3.block-functional__slider-caption-item Тесты
                div.block-functional__slider-wrap-item#func-slider
                    div.block-functional__slider-item.block-functional__slider-item--active(data-title="Тестирование") Тесты разрабатываются ведущими специалистами IT компаний. Проверяются именно те профессиональные навыки, которые необходимы для успешного трудоустройства    
                    div.block-functional__slider-item(data-title="Рейтинг") Ты занимаешь определенную позицию в рейтинговых таблицах по различным специализациям
                    div.block-functional__slider-item(data-title="Экономия времени") Тебя выбирают на основе результатов тестирования, что значительно экономит время, которое необходимо потратить на поиск вакансий и рассылку резюме
                    div.block-functional__slider-item(data-title="Оценка") Ты получаешь независимую оценку своих технических знаний
                    div.block-functional__slider-item(data-title="следите за своим прогрессом") У тебя есть возможность отслеживать свой прогресс в рейтинговой таблице и улучшать свои результаты тестов при получении новых навыков
                    div.block-functional__slider-item(data-title="составь свое резюме правильно") Заполняя профиль, ты формируешь резюме, которое можно рассылать работодателям даже вне платформы 
            div.block-functional__wrap-caption#func-slider-caption