section.section.fl.fl--wrap.fl--align-c.bg--white.section-why-we.index--2#why-we
    div.block-why-we-desc
        div.block-why-we-desc__wrap-content
            div.block-why-we-desc__number-item#block-why-we-desc__number-item
                span 1
            div.block-why-we-desc__wrap-caption
                h2.block-why-we-desc__caption Почему
                    span.block-why-we-desc__caption-text Мы
                p.block-why-we-desc__desc Наша платформа - это уникальный инструмент для решения ряда проблем, с которыми ты сталкиваешься при поиске Junior специалистов, а именно:
            div.block-why-we-desc__wrap-desc
                h3.block-why-we-desc__caption-level#block-why-we-desc__caption-level
                    span.block-why-we-desc__caption-level-item.block-why-we-desc__caption-level-item--active Единая база <br> соискателей
                    span.block-why-we-desc__caption-level-item Динамический пул
                    span.block-why-we-desc__caption-level-item Интерфейс со Smart функционалом
                    span.block-why-we-desc__caption-level-item Низкая стоимость <br> найма
                    span.block-why-we-desc__caption-level-item Лучшие соискатели для вашего проекта
                    span.block-why-we-desc__caption-level-item Прямой контакт <br> с соискателем
                    span.block-why-we-desc__caption-level-item Актуальная <br> база тестов
                div.block-why-we-desc__level-desc#block-why-we-desc__level-desc
                    p.block-why-we-desc__level-desc-item.block-why-we-desc__level-desc-item--active(data-title=1) Доступ к единой базе соискателей с возможностью выбора по специализации и геолокации
                    p.block-why-we-desc__level-desc-item(data-title=2) Всегда актуальный, динамический рейтинг соискателей
                    p.block-why-we-desc__level-desc-item(data-title=3) Удобный единый интерфейс со Smart функционалом для поиска и найма подходящих по техническим навыкам кандидатов
                    p.block-why-we-desc__level-desc-item(data-title=4) Наши кандидаты уже протестированы согласно стандартам крупнейших IT-работодателей Украины
                    p.block-why-we-desc__level-desc-item(data-title=5) У нас ты сможешь найти более качественного кандидата быстро, а значит, сможешь быстрее интегрировать его в проект
                    p.block-why-we-desc__level-desc-item(data-title=6) IT компания может напрямую связываться с выбранным кандидатом
                    p.block-why-we-desc__level-desc-item(data-title=7) Актуальная база тестов, пополняемая нашими партнерами работодателями и независимыми экспертами
    div.block-why-we-advantages
        div.block-why-we-advantages__wrap-content
            h3.block-why-we-advantages__caption Другие платформы и сервисы
            div.block-why-we-advantages__slider.slider-platform#vertical-carousel
                div.slider-platform__content#vertical-carousel-content
                    div.slider-platform__workspace#vertical-carousel-workspace
                        div.slider-platform__item(data-title=1) Отсутствие единой верифицированной базы IT специалистов начального уровня
                        div.slider-platform__item(data-title=2) Существующие сервисы подбора IT персонала зачастую содержат устаревшие данные о соискателях
                        div.slider-platform__item(data-title=3) Данные о соискателях приходится искать с помощью разных инструментов и баз, функционально несвязанных между собой
                        div.slider-platform__item(data-title=4) Ты тратишь очень много времени на поиск, собеседование и тестирование кандидата для принятия решения о найме
                        div.slider-platform__item(data-title=5) Длительный процесс обучения и интеграции кандидата в проект
                        div.slider-platform__item(data-title=6) Необходимость пользоваться услугами рекрутинговых агентств в роли посредников
                        div.slider-platform__item(data-title=7) Проблема разработки эффективной системы оценки кандидатов, соответствующей современным стандартам
                div.slider-platform__wrap-btn
                    button.slider-platform__btn-next#vertical-carousel-next-btn
                        img.slider-platform__btn-next--img(src=publicPathCSS+"public/img/arrow.svg", alt="arrow")
                    button.slider-platform__btn-prev#vertical-carousel-prev-btn
                        img.slider-platform__btn-prev--img(src=publicPathCSS+"public/img/arrow.svg", alt="arrow")