section.section.fl.fl--wrap.fl--align-c.bg--white.section-why-we.index--2#why-we
    div.block-why-we-desc
        div.block-why-we-desc__wrap-content
            div.block-why-we-desc__number-item#block-why-we-desc__number-item
                span 1
            div.block-why-we-desc__wrap-caption
                h2.block-why-we-desc__caption Почему
                    span.block-why-we-desc__caption-text Мы
                p.block-why-we-desc__desc Наша платформа решает ряд проблем, с которыми ты сталкиваешься, а именно:
            div.block-why-we-desc__wrap-desc
                h3.block-why-we-desc__caption-level#block-why-we-desc__caption-level
                    span.block-why-we-desc__caption-level-item.block-why-we-desc__caption-level-item--active Платформа <br> junior специалистов
                    span.block-why-we-desc__caption-level-item Работодатель <br> уже ищет вас
                    span.block-why-we-desc__caption-level-item Независимая оценка
                    span.block-why-we-desc__caption-level-item Анонимный <br> поиск работы
                div.block-why-we-desc__level-desc#block-why-we-desc__level-desc
                    p.block-why-we-desc__level-desc-item.block-why-we-desc__level-desc-item--active(data-title=1) Мы создали решение специально для тех, кто ищет первую или вторую работу в IT, будь ты студент или просто новичок в IT
                    p.block-why-we-desc__level-desc-item(data-title=2) На платформе работодатели сами находят тебя, согласно твоим техническим навыкам и позиции в рейтинге
                    p.block-why-we-desc__level-desc-item(data-title=3) У нас ты сможешь оценить свои навыки автоматически, пройдя тесты, предоставленные ведущими IT компаниями Украины
                    p.block-why-we-desc__level-desc-item(data-title=4) Ты меняешь текущую работу? У нас ты сможешь искать работу в IT и, тот кто не должен не узнает об этом
    div.block-why-we-advantages
        div.block-why-we-advantages__wrap-content
            h3.block-why-we-advantages__caption Другие платформы и сервисы
            div.block-why-we-advantages__slider.slider-platform#vertical-carousel
                div.slider-platform__content#vertical-carousel-content
                    div.slider-platform__workspace#vertical-carousel-workspace
                        div.slider-platform__item(data-title=1) Отсутствие решений поиска работы для начинающих специалистов
                        div.slider-platform__item(data-title=2) Отсутствие четких требований, в результате чего ты рассылаешь сотни резюме, а получаешь всего лишь несколько актуальных приглашений на собеседование
                        div.slider-platform__item(data-title=3) Отсутствие понимания уровня своих знаний из-за кардинально разной, зачастую предвзятой оценки на собеседованиях
                        div.slider-platform__item(data-title=4) Отсутствие возможности искать работу анонимно
                div.slider-platform__wrap-btn
                    button.slider-platform__btn-next#vertical-carousel-next-btn
                        img.slider-platform__btn-next--img(src=publicPathCSS+"public/img/arrow.svg", alt="arrow")
                    button.slider-platform__btn-prev#vertical-carousel-prev-btn
                        img.slider-platform__btn-prev--img(src=publicPathCSS+"public/img/arrow.svg", alt="arrow")