section.section.fl.fl--align-c.section--h-auto.section--md-h-100#advantages
    div.block-advantages
        div.block-advantages__wrap-after
            h2.block-advantages__caption В результате
                //- span.block-advantages__caption-text результате
            div.block-advantages__content-after
                p.block-advantages__desc-after Кандидаты, которых ты приглашаешь на собеседование, уже прошли техническое тестирование, чем подтвердили заявленные навыки. Тебе остается подобрать человека, подходящего в команду по Soft skills
                    span.block-advantages__desc-after-text После
                div.block-advantages__wrap-btn
                    button.block-advantages__btn.block-advantages__btn--reg#regist-main-foot Зарегистрироваться
                    button.block-advantages__btn.block-advantages__btn--contact-us#btn-contact-us Связаться с нами
        div.block-advantages__wrap-before
            div.block-advantages__content-before
                h2.block-advantages__caption-before В результате
                    //- span.block-advantages__caption-before-text результате
                p.block-advantages__desc-before К тебе приходят кандидаты, не всегда соответствующие заявленному уровню знаний
                    span.block-advantages__desc-before-text До