div(class="pop-up-cookie" id="pop-up-cookie")
    p(class="cookie-description") Чтобы предоставить вам наилучший опыт, на этом сайте используются cookie. Если вы согласны с использованием cookie, нажмите кнопку
        button(class="btn-agree-cookie" id="btn-agree-cookie") Согласен
        span(class="cookie-text") Если вы хотите ознакомиться с нашей политикой cookie, нажмите  
            a(href="/terms-of-use.html#cookie" target="_blanck" class="btn-more-cookie") узнать больше          
    span(class="icon-menu_close btn-close-cookie" id="btn-close-cookie")
