footer(class="footer footer--social")
    div(class="container-fluid ")
        div(class="row fl--justify-c")
            div(class="row col-12 col-lg-9 padding--0 fl--justify-c fl--align-c")
                div(class="font--12 font--color-inactive col-md-6 padding--lg-0 font--center font--md-left margin--b-20 margin--md-0")
                    |&copy; 
                    span(id="js-current-year") 2019 An.Works
                div(class="col-md-6 padding--lg-0")
                    ul(class="fl fl--justify-c fl--justify-md-end")
                        li(class="nav-social-footer")
                            a(href="https://www.instagram.com/an.works.ukraine/" class="nav-social-footer__link icon-instagram")
                        li(class="nav-social-footer")
                            a(href="https://www.linkedin.com/company/anworks/about/" class="nav-social-footer__link icon-linkedin-landing")
                        li(class="nav-social-footer")
                            a(href="https://www.facebook.com/an.works.ukraine/" class="nav-social-footer__link icon-facebook_landing")
                        li(class="nav-social-footer")
                            a(href="https://t.me/anworks" class="nav-social-footer__link icon-Telegram_landing")
                        //- li(class="nav-social-list")
                        //-     a(href="https://vk.com/an.works" class="nav-social-footer__link icon-VK") 