div.menu-humb#menu-humb
    div.menu-humb__container
        div.menu-humb__line-menu.menu-humb__line-menu--top.menu-humb__line-menu--gray
        div.menu-humb__line-menu.menu-humb__line-menu--top.menu-humb__line-menu--black
        ul.menu-list#menu-list
            li.menu-humb__list-item
                a.menu-humb__list-link(href="/about.html" target="_blanck") О нас
            li.menu-humb__list-item
                a.menu-humb__list-link(href="/partners.html" target="_blanck") Партнеры
            li.menu-humb__list-item
                a.menu-humb__list-link(href="/#noanim" target="_blanck") НА Главную
            li.menu-humb__list-item
                a.menu-humb__list-link(href="/terms-of-use.html#privacy-policy" target="_blanck") Политика конфиденциальности
            li.menu-humb__list-item
                a.menu-humb__list-link(href="./terms-of-use.html#cookie" target="_blanck") Политика использования файлов Cookie          
    div.menu-humb__wrap-control
        div.menu-humb__block-btn#menu-humb__block-btn
            div.menu-humb__line-menu.menu-humb__line-menu--bottom.menu-humb__line-menu--gray
            div.menu-humb__line-menu.menu-humb__line-menu--bottom.menu-humb__line-menu--black
            div.menu-humb__wrap-btn#wrap-menu-btn
                button.menu-humb__btn-reg.btn.btn--theme-gray.margin--r-10#menu-reg Регистрация
                button.menu-humb__btn-log-in.btn.btn--theme-blue#menu-log-in Вход
            div.menu-humb__line-menu.menu-humb__line-menu--center.menu-humb__line-menu--gray
            div.menu-humb__line-menu.menu-humb__line-menu--center.menu-humb__line-menu--black
            div.menu-humb__contact-us.user-select#contact-us-menu
                span.menu-humb__contact-us__item-icon.icon-mail
                span.menu-humb__contact-us__item Связаться с нами
            div.menu-humb__line-menu.menu-humb__line-menu--bottom-0.menu-humb__line-menu--gray
            div.menu-humb__line-menu.menu-humb__line-menu--bottom-0.menu-humb__line-menu--black
        div.menu-humb__wrap-social
            ul.menu-humb__social#social-menu
                li.menu__humb__social-item
                    a.menu-humb__social-link.icon-linkedin-landing(href="https://www.linkedin.com/company/anworks/about/")
                li.menu__humb__social-item
                    a.menu-humb__social-link.icon-facebook_landing(href="https://www.facebook.com/an.works.ukraine/") 
                li.menu__humb__social-item
                    a.menu-humb__social-link.icon-Telegram_landing(href="http://t.me/anworks")
                //- li.menu__humb__social-item
                //-     a.menu-humb__social-link.icon-VK(href="https://vk.com/an.works")
                li.menu__humb__social-item
                    a.menu-humb__social-link.icon-instagram(href="https://www.instagram.com/an.works.ukraine/")
                //- li.menu__humb__social-item
                    //- a.menu-humb__social-link.icon-youtube(href="#")
                    