.bg-acrobat
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -5px
.bg-ActiveMQ
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -511px
.bg-AJAX
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -5px
.bg-Angular_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -51px
.bg-Angular_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -51px
.bg-Ant
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -5px
.bg-Apache_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -51px
.bg-Apache_Mina
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -50px -511px
.bg-Axure
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -97px
.bg-Backbone
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -97px
.bg-Bitrix24
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -97px
.bg-Bootstrap
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -5px
.bg-Bottle
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -51px
.bg-CMSMS
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -95px -511px
.bg-CMS_Simpla
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -140px -511px
.bg-CodeIgniter
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -97px
.bg-Composer
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -143px
.bg-Concrete5
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -143px
.bg-Continuous_Integration
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -185px -511px
.bg-Cordova
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -143px
.bg-CorelDraw
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -143px
.bg-CorelDraw_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -5px
.bg-C_sharp
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -51px
.bg-CSS3
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -97px
.bg-DDD
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -230px -511px
.bg-DDI
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -275px -511px
.bg-Design_Patterns
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -320px -511px
.bg-DLE
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -143px
.bg-Docker
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -189px
.bg-Doctrine
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -189px
.bg-DreamWeaver
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -365px -511px
.bg-Drupal
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -189px
.bg-Drupal_8
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -189px
.bg-EasyBlog
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -410px -511px
.bg-EnterpriseArchitect
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -189px
.bg-Express
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -5px
.bg-Fireworks
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -455px -511px
.bg-flash
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -51px
.bg-Flask
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -97px
.bg-FreeBSD
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -143px
.bg-Gearman_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -189px
.bg-Gearman_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -235px
.bg-Geb
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -500px -511px
.bg-GIMP
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -5px
.bg-GIT
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -235px
.bg-Glassfish
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -235px
.bg-Gradle
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -235px
.bg-Groovy
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -235px
.bg-GruntJS
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -235px
.bg-GruntJS_1
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -50px
.bg-GruntJS_2
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -95px
.bg-Gulp_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -5px
.bg-Gulp_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -51px
.bg-Heidi_SQL
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -97px
.bg-Hibernate
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -143px
.bg-HTML5
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -189px
.bg-IBM_Lotus_notes
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -235px
.bg-Illustrator
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -281px
.bg-Imagemagic
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -140px
.bg-InDesign
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -281px
.bg-InstantCMS
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -185px
.bg-IntelliJ_IDEA
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -281px
.bg-Ionic
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -281px
.bg-Java_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -281px
.bg-Java_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -281px
.bg-JavaScript
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -281px
.bg-Jboss_4_3
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -5px
.bg-JBoss_7_1_Final
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -51px
.bg-Jboss_AS
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -230px
.bg-JBPM
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -97px
.bg-Jenkins_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -143px
.bg-Jenkins_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -189px
.bg-Jetty_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -235px
.bg-JIRA_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -281px
.bg-JIRA_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -327px
.bg-Joomla
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -327px
.bg-JoomSocial
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -275px
.bg-Jquery_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -327px
.bg-Jquery_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -327px
.bg-jQueryUI_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -327px
.bg-jQueryUI_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -327px
.bg-JSON
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -327px
.bg-Jsoup
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -320px
.bg-Jsoup_1
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -365px
.bg-JUnit_5
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -327px
.bg-Kohana
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -5px
.bg-Laravel
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -51px
.bg-LESS_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -97px
.bg-LESS_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -143px
.bg-Linux
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -189px
.bg-Litespeed
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -235px
.bg-Log4j
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -281px
.bg-Lucene
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -327px
.bg-Magento
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -373px
.bg-Mantis
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -373px
.bg-Maven_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -373px
.bg-Maven_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -373px
.bg-megaplan
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -410px
.bg-Memcached
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -373px
.bg-Mockito
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -373px
.bg-MODx
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -373px
.bg-MongoDB
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -373px
.bg-MooTools
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -455px
.bg-MS_SQL
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -373px
.bg-MySQL_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -5px
.bg-MySQL_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -51px
.bg-MySQL_3
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -97px
.bg-NetBeans
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -557px -500px
.bg-nginx
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -143px
.bg-Node_js
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -189px
.bg-NPM
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -235px
.bg-OctoberCMS
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -281px
.bg-oop
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -556px
.bg-Opencart
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -327px
.bg-openJPA
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -373px
.bg-Oracle
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -50px -556px
.bg-Perforce_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -419px
.bg-Phalcon
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -419px
.bg-PhocaGallery
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -95px -556px
.bg-PhoneGap
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -419px
.bg-Photoshop
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -419px
.bg-PHP
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -419px
.bg-PHP_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -419px
.bg-phpMyAdmin
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -140px -556px
.bg-PHPStorm
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -185px -556px
.bg-Planfix
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -230px -556px
.bg-PLSQL
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -275px -556px
.bg-Premiere
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -419px
.bg-PrestaShop
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -419px
.bg-PRINCE2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -419px
.bg-React
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -419px
.bg-redis
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -5px
.bg-Redis_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -51px
.bg-Redmine
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -320px -556px
.bg-Resin
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -365px -556px
.bg-REST
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -410px -556px
.bg-SASS
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -97px
.bg-scrum
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -455px -556px
.bg-Seam
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -143px
.bg-selenium
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -189px
.bg-Sitemesh_1
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -500px -556px
.bg-Sitemesh_2
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -545px -556px
.bg-SoapUI_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -235px
.bg-SoapUI_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -281px
.bg-SOLID_Principles
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -5px
.bg-Sphinx
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -327px
.bg-SpringCore
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -373px
.bg-SpringMobile
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -419px
.bg-Spring_MVC
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -50px
.bg-Spring_orm
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -95px
.bg-SpringSecurity
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -465px
.bg-SQL
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -140px
.bg-stylus
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -185px
.bg-stylus_2
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -230px
.bg-SVN
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -51px -465px
.bg-TA
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -275px
.bg-TDD
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -320px
.bg-TeamWork
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -365px
.bg-TestComplete
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -97px -465px
.bg-TestNG
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -143px -465px
.bg-TestNG_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -189px -465px
.bg-TestNG_3
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -235px -465px
.bg-TOAD_for_Oracle_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -281px -465px
.bg-TOAD_for_Oracle_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -327px -465px
.bg-Tomcat
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -373px -465px
.bg-Trello
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -419px -465px
.bg-UML_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -465px -465px
.bg-Vagrant
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -5px
.bg-VamShop
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -410px
.bg-Virtuemart
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -455px
.bg-VisualStudio
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -500px
.bg-Vue_js_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -51px
.bg-WebLogic
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -602px -545px
.bg-Webpack_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -97px
.bg-Webpack_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -143px
.bg-Websphere
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -5px -601px
.bg-WildFly
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -189px
.bg-WildFly_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -235px
.bg-WooCommerce
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -50px -601px
.bg-Wordpress
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -281px
.bg-XML_1
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -327px
.bg-XML_2
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -373px
.bg-Yii
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -419px
.bg-Youtrack
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -95px -601px
.bg-Zend
    width: 36px
    height: 36px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -511px -465px

.bg-redux
    width: 35px
    height: 35px
    background:  url('../../public/img/icon-expert/technology-sprites.png') -140px -601px

.bg-dev_patform
    width: 50px
    height: 50px
    background: url('../../public/img/icon-expert/expert-sprite.png') -10px -10px
.bg-experience
    width: 50px
    height: 50px
    background: url('../../public/img/icon-expert/expert-sprite.png') -80px -10px
.bg-experience_mentor
    width: 51px
    height: 41px
    background: url('../../public/img/icon-expert/expert-sprite.png') -10px -80px