.pop-up-cookie
    position fixed
    padding-top 25px
    padding-bottom 15px
    padding-left 20px
    padding-right 20px
    bottom 0
    left 0
    z-index 502
    box-shadow 0 -3px 15px rgba(0, 0, 0, 0.15)
    background-color rgba(0,0,0,0.8)
    width 100%
    color #fff
    font-size 12px
    transform translateY(110%)
.btn-close-cookie
    cursor pointer
    position absolute
    right 10px
    top 10px
    font-size 10px
.btn-agree-cookie
    padding 7px 18px 11px
    font-weight 500
    line-height 1
    font-size 12px
    margin 10px 0
    border none
    background-color #528be6
    color #fff
    outline 0
    position relative
.btn-more-cookie
    text-decoration underline
    color #fff
    user-select none
.cookie-text
    display block
@media only screen and (min-width : 360px)
  .btn-agree-cookie
    margin-right 10px
    margin-top 10px

@media only screen and (min-width : 375px)
  .btn-agree-cookie
    margin-left 10px

@media only screen and (min-width : 768px)
  .cookie-description
    font-size 14px
    padding-left 15px
    padding-right 15px
  .btn-close-cookie
    right 15px
    top 15px
    font-size 14px

@media only screen and (min-width: 768px) and (max-width:  1169.9px) and (orientation: landscape)
  .btn-agree-cookie
    margin-left 0

@media only screen and (min-width : 1170px)
  .cookie-description
    text-align center
    font-size 14px

  .btn-close-cookie
    right 45px

  .pop-up-cookie
    padding-top 35px
    padding-bottom 30px

  .btn-agree-cookie
    margin-top 0
    font-size 12px

@media only screen and (min-width : 1550px)
  .cookie-description
    font-size 16px
