$color-primary = #3a3a3c
$color-secondery = #6e6e7d
$color-third = #b8bec7
$color-light-gray = #898989
$color-blue = #528be6
$color-white = #fff
$color-fifth = #a7a7af
$bg--footer = #fbfbfb
$bg--border = #cdd1d7
$bg-border-table = #edf0f5;
$arrow-table = #9f9e9e;
$bg--btn-primary = #528be6
$bg--body = #f4f4f4
$arrow--table = #b0afaf;
$bg-border-table = #eaebee;
$nav-link-size = .75em
$border-gray = #d0d1d2
*
    font-family 'Clear Sans'
    -webkit-tap-highlight-color: transparent
html
    font-size 62.5%
    line-height: 1.2
    height 100%
    @media only screen and (min-width : 1599px)
        font-size 87.5%
    @media only screen and (min-width : 1919px)
        font-size 100%
body
    background-color #ffffff
    font-family 'Clear Sans'
    position relative
    height: 100%
button
    user-select none
.visuallyhidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  clip: rect(0 0 0 0)
  overflow: hidden