@font-face
    font-family 'Clear Sans'
    font-style normal
    font-weight 200
    src url("../fonts/clearSans/ClearSans-Thin.woff"), url("../fonts/clearSans/ClearSans-Thin.ttf"), url("../fonts/clearSans/ClearSans-Thin.svg"), url("../fonts/clearSans/ClearSans-Thin.eot")
@font-face
    font-family 'Clear Sans'
    font-style normal
    font-weight 300
    src url("../fonts/clearSans/ClearSans-Light.woff"), url("../fonts/clearSans/ClearSans-Light.ttf"), url("../fonts/clearSans/ClearSans-Light.svg"), url("../fonts/clearSans/ClearSans-Light.eot")
@font-face
    font-family 'Clear Sans'
    font-style normal
    font-weight 400
    src url("../fonts/clearSans/ClearSans-Regular.woff"), url("../fonts/clearSans/ClearSans-Regular.ttf"), url("../fonts/clearSans/ClearSans-Regular.svg"), url("../fonts/clearSans/ClearSans-Regular.eot")
@font-face
    font-family 'Clear Sans'
    font-style normal
    font-weight 500 
    src url("../fonts/clearSans/ClearSans-Medium.woff"), url("../fonts/clearSans/ClearSans-Medium.ttf"), url("../fonts/clearSans/ClearSans-Medium.svg"), url("../fonts/clearSans/ClearSans-Medium.eot")
@font-face
    font-family 'Clear Sans'
    font-style normal
    font-weight bold
    src url("../fonts/clearSans/ClearSans-Bold.woff"), url("../fonts/clearSans/ClearSans-Bold.ttf"), url("../fonts/clearSans/ClearSans-Bold.svg"), url("../fonts/clearSans/ClearSans-Bold.eot")
@font-face
    font-family 'Clear Sans'
    font-style italic
    font-weight 400
    src url("../fonts/clearSans/ClearSans-Italic.woff"), url("../fonts/clearSans/ClearSans-Italic.ttf"), url("../fonts/clearSans/ClearSans-Italic.svg"), url("../fonts/clearSans/ClearSans-Italic.eot")
@font-face
    font-family 'Clear Sans'
    font-style italic
    font-weight 500
    src url("../fonts/clearSans/ClearSans-MediumItalic.woff"), url("../fonts/clearSans/ClearSans-MediumItalic.ttf"), url("../fonts/clearSans/ClearSans-MediumItalic.svg"), url("../fonts/clearSans/ClearSans-MediumItalic.eot")
@font-face
    font-family 'Clear Sans'
    font-style italic
    font-weight bold
    src url("../fonts/clearSans/ClearSans-BoldItalic.woff"), url("../fonts/clearSans/ClearSans-BoldItalic.ttf"), url("../fonts/clearSans/ClearSans-BoldItalic.svg"), url("../fonts/clearSans/ClearSans-BoldItalic.eot")
@font-face
    font-family 'icomoon'
    src  url('../fonts/icon_an/icomoon.eot')
    src  url('../fonts/icon_an/icomoon.eot') format('embedded-opentype'),url('../fonts/icon_an/icomoon.ttf') format('truetype'),url('../fonts/icon_an/icomoon.woff') format('woff'),url('../fonts/icon_an/icomoon.svg') format('svg')
    font-weight normal
    font-style normal